openapi: 3.0.1
info:
  description: ChannelEngine API for merchants
  title: ChannelEngine Merchant API
  version: 2.13.0
servers:
- url: https://demo.channelengine.net/api
security:
- apiKey: []
paths:
  /v2/cancellations/merchant:
    get:
      description: Gets cancelations based on their creation date.
      operationId: CancellationGetForMerchant
      parameters:
      - description: "Filter on the create date of the cancellation in ChannelEngine,\
          \ starting from this date. This date is inclusive."
        explode: true
        in: query
        name: createdSince
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantCancellationResponse'
          description: Success
      summary: Gets cancelations
      tags:
      - Cancellation
  /v2/cancellations:
    post:
      description: Marks an order as fully or partially canceled based on order line
        and quantity input.
      operationId: CancellationCreate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantCancellationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantCancellationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantCancellationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Creates a cancelation
      tags:
      - Cancellation
  /v2/channels:
    get:
      description: Gets the complete list of channels available on ChannelEngine including
        their **Global channel ID**.
      operationId: Channel PluginsGet
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfChannelGlobalChannelResponse'
          description: Success
      summary: Gets channels
      tags:
      - Channels
  /v2/competitionprices/buyboxprices:
    get:
      description: Gets the current price of the buy box winner per product for a
        marketplace.
      operationId: CompetitionPricesGetBuyBoxPrices
      parameters:
      - description: The id of the channel
        explode: true
        in: query
        name: channelId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Search products by submitting a list of GTIN's. (optional)<br
          />Max. 2000.
        explode: true
        in: query
        name: gtinList
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Search products by submitting a list of Sku's. (optional)<br\
          \ />Max. 2000. If GtinList is already set, this one is ignored."
        explode: true
        in: query
        name: skuList
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantProductWithBuyBoxPrice'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
      summary: Gets the price from the buy box winner
      tags:
      - CompetitionPrice
  /v2/channels/{channelId}/products:
    get:
      description: Gets the products listed per channel based on the **Channel ID**.<br
        /> <br />**NB:** not all marketplaces provide adequate options to retrieve
        the status of a product as seen on the marketplace.
      operationId: Listed ProductGetByFilter
      parameters:
      - description: The id of a channel
        explode: false
        in: path
        name: channelId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: The unique product references used by the Merchant (SKUs)
        explode: true
        in: query
        name: merchantProductNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfChannelListedProductResponse'
          description: Success
      summary: Gets products listed by channel
      tags:
      - ListedProducts
  /v2/notifications:
    get:
      description: Gets ChannelEngine notifications based on the available filters.
      operationId: NotificationIndex
      parameters:
      - description: "Filter on the notification date, starting from this date. This\
          \ date is inclusive."
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the notification date, until this date. This date\
          \ is exclusive."
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Notification type(s) to filter on.
        explode: true
        in: query
        name: types
        required: false
        schema:
          items:
            $ref: '#/components/schemas/NotificationType'
          type: array
        style: form
      - description: Filter on unique order reference used by the merchant.
        explode: true
        in: query
        name: merchantOrderNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique order reference used by the channel.
        explode: true
        in: query
        name: channelOrderNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique return reference used by the merchant.
        explode: true
        in: query
        name: merchantReturnNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique return reference used by the channel.
        explode: true
        in: query
        name: channelReturnNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique shipment reference used by the merchant.
        explode: true
        in: query
        name: merchantShipmentNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantNotificationResponse'
          description: Success
      summary: Gets notifications
      tags:
      - Notification
  /v2/offer:
    put:
      description: Updates product stock and price.
      operationId: OfferStockPriceUpdate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantStockPriceUpdateRequest'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantStockPriceUpdateRequest'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantStockPriceUpdateRequest'
              type: array
        description: "References to the products that should be updated, and the new\
          \ values<br />for the stock or price fields. It is possible to supply only\
          \ one of the two fields<br />or both."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfDictionaryOfStringAndListOfString'
          description: "**Message** can be **\"Updates processed without warnings\"\
            ** or in case of validations **\"Updates processed, see 'Content' for\
            \ warnings\"**"
      summary: Updates stock and price
      tags:
      - Offer
  /v2/offer/stock:
    get:
      description: Gets the stock available in the warehouses. The warehouses must
        be set up as stock locations on ChannelEngine.
      operationId: OfferGetStock
      parameters:
      - description: List of your products' sku's.
        explode: true
        in: query
        name: skus
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The ChannelEngine id of the stock location(s).
        explode: true
        in: query
        name: stockLocationIds
        required: true
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: A page index to get the items (starts from 0)
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return (default 100)
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          maximum: 500
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantOfferGetStockResponse'
          description: Success
      summary: Gets product stock across all warehouses
      tags:
      - Offer
    put:
      description: Updates product stock.
      operationId: OfferStockUpdate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantOfferStockUpdateRequest'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantOfferStockUpdateRequest'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantOfferStockUpdateRequest'
              type: array
        description: References to the new values for the stock fields.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfStockUpdateResponse'
          description: "**Message** can be **\"Updates processed without warnings\"\
            ** or in case of validations **\"Updates processed, see 'Content' for\
            \ warnings\"**"
      summary: Updates stock
      tags:
      - Offer
  /v2/orders:
    get:
      description: Gets orders based on the available filters.
      operationId: OrderGetByFilter
      parameters:
      - description: Order status(es) to filter on. AWAITING_PAYMENT orders will be
          excluded if it is not included in this Statuses filter.
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          items:
            $ref: '#/components/schemas/OrderStatusView'
          type: array
        style: form
      - description: Client emailaddresses to filter on.
        explode: true
        in: query
        name: emailAddresses
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique order reference used by the merchant.
        explode: true
        in: query
        name: merchantOrderNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique order reference used by the channel.
        explode: true
        in: query
        name: channelOrderNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Filter on the order date, starting from this date. This date\
          \ is inclusive.<br />The order date is based on the data we got from a channel."
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the order date, until this date. This date is exclusive.<br\
          \ />The order date is based on the data we got from a channel."
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the created at date in ChannelEngine, starting from\
          \ this date. This date is inclusive.<br />The created date is set on the\
          \ date and time when the order is created."
        explode: true
        in: query
        name: fromCreatedAtDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the created at date in ChannelEngine, until this date.\
          \ This date is exclusive.<br />The created date is set on the date and time\
          \ when the order is created."
        explode: true
        in: query
        name: toCreatedAtDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Exclude order (lines) fulfilled by the marketplace (amazon:FBA,\
          \ bol:LVB, etc.)"
        explode: true
        in: query
        name: excludeMarketplaceFulfilledOrdersAndLines
        required: false
        schema:
          type: boolean
        style: form
      - description: "Filter orders on fulfillment type. This will include all orders\
          \ lines, even if they are partially fulfilled by the marketplace.<br />To\
          \ exclude orders and lines that are fulfilled by the marketplace from the\
          \ response, set ExcludeMarketplaceFulfilledOrdersAndLines to true."
        explode: true
        in: query
        name: fulfillmentType
        required: false
        schema:
          $ref: '#/components/schemas/FulfillmentType'
        style: form
      - description: "Filter on orders containing cancellation requests.<br />Some\
          \ channels allow a customer to cancel an order until it has been shipped.<br\
          \ />When an order has already been acknowledged in ChannelEngine, it can\
          \ only be cancelled by creating a cancellation."
        explode: true
        in: query
        name: onlyWithCancellationRequests
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter orders on channel(s).
        explode: true
        in: query
        name: channelIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Filter on stock locations
        explode: true
        in: query
        name: stockLocationIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Filter on acknowledged value
        explode: true
        in: query
        name: isAcknowledged
        required: false
        schema:
          type: boolean
        style: form
      - description: "Filter on the order update date, starting from this date. This\
          \ date is inclusive."
        explode: true
        in: query
        name: fromUpdatedAtDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the order update date, unitl this date. This date\
          \ is exclusive."
        explode: true
        in: query
        name: toUpdatedAtDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the order acknowledged date, starting from this date.\
          \ This date is inclusive."
        explode: true
        in: query
        name: fromAcknowledgedDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the order acknowledged date, unitl this date. This\
          \ date is exclusive."
        explode: true
        in: query
        name: toAcknowledgedDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantOrderResponse'
          description: Success
      summary: Gets orders by filter
      tags:
      - Order
  /v2/orders/new:
    get:
      description: Gets orders with the status **New**.
      operationId: OrderGetNew
      parameters:
      - description: The ChannelEngine id of the stock location.
        explode: true
        in: query
        name: stockLocationId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantOrderResponse'
          description: Success
      summary: Gets new orders
      tags:
      - Order
  /v2/orders/acknowledge:
    post:
      description: Acknowledges an order to confirm order import.
      operationId: OrderAcknowledge
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantOrderAcknowledgementRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantOrderAcknowledgementRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantOrderAcknowledgementRequest'
        description: Relations between the id's returned by ChannelEngine and the
          references which the merchant uses.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Acknowledges orders
      tags:
      - Order
  /v2/orders/{merchantOrderNo}/invoice:
    get:
      description: Generates the ChannelEngine sales tax invoice for an order in PDF.
      operationId: OrderInvoice
      parameters:
      - description: The unique order reference as used by the merchant.
        explode: false
        in: path
        name: merchantOrderNo
        required: true
        schema:
          type: string
        style: simple
      - description: Generate the invoice in the billing address' country's language.
        explode: true
        in: query
        name: useCustomerCulture
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: byte
                type: file
          description: Invoice PDF
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Generates an order invoice
      tags:
      - Order
    post:
      description: Uploads the invoice for an order in PDF.
      operationId: OrderUploadInvoice
      parameters:
      - description: The unique order reference as used by the merchant.
        explode: false
        in: path
        name: merchantOrderNo
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            encoding:
              invoice:
                style: form
              invoiceNumber:
                style: form
            schema:
              $ref: '#/components/schemas/OrderUploadInvoice_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Uploads an order invoice
      tags:
      - Order
  /v2/orders/{merchantOrderNo}/packingslip:
    get:
      description: Generates the ChannelEngine packing slip for an order in PDF.
      operationId: OrderPackingSlip
      parameters:
      - description: The unique order reference as used by the merchant.
        explode: false
        in: path
        name: merchantOrderNo
        required: true
        schema:
          type: string
        style: simple
      - description: Generate the invoice in the billing address' country's language.
        explode: true
        in: query
        name: useCustomerCulture
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: byte
                type: file
          description: Packing Slip PDF
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Generates a packing slip
      tags:
      - Order
  /v2/orders/comment:
    put:
      description: Updates the merchant comment for an order based on the ChannelEngine
        **Order ID** or the **Merchant order number**.
      operationId: OrderUpdate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantOrderCommentUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantOrderCommentUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantOrderCommentUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Updates an order comment
      tags:
      - Order
  /v2/products:
    get:
      description: Retrieve all products. Apply available filters to narrow down your
        search.
      operationId: ProductGetByFilter
      parameters:
      - description: "Search product(s) by Name, MerchantProductNo, Ean or Brand<br\
          \ />This search is applied to the result after applying the other filters."
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Search products by submitting a list of EAN's.
        explode: true
        in: query
        name: eanList
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Search products by submitting a list of MerchantProductNo's.
        explode: true
        in: query
        name: merchantProductNoList
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantProductResponse'
          description: Success
      summary: Gets products
      tags:
      - Product
    patch:
      description: "Updates specific attributes of product data. You can update single\
        \ or multiple attributes for one or multiple products.<br />You can also add\
        \ custom attributes via this endpoint. The format of this endpoint is JSON\
        \ Patch.<br />Products are updated for the fields listed in the array **PropertiesToUpdate**:<br\
        \ />[name, <br />description, <br />details, <br />brand, <br />size, <br\
        \ />color, <br />ean, <br />groupno **or** ParentMerchantProductNo, <br />groupno2\
        \ **or** ParentMerchantProductNo2, <br />type, <br />merchantproductno,<br\
        \ />vendorproductno, <br />stock, <br />price, <br />listprice **or** MSRP,\
        \ <br />purchaseprice, <br />minprice, <br />maxprice, <br />discountrate,\
        \ <br />vatrate, <br />margin, <br />shippingcost, <br />shippingtime, <br\
        \ />url, <br />imageurl, <br />extraimageurl1, <br />extraimageurl2, <br />extraimageurl3,\
        \ <br />extraimageurl4, <br />extraimageurl5, <br />extraimageurl6, <br />extraimageurl7,\
        \ <br />extraimageurl8, <br />extraimageurl9, <br />categoryid]<br /> <br\
        \ />Sample request:<br /><pre><br />PATCH /v2/products<br />{<br /> \"PropertiesToUpdate\"\
        : [<br /> \"name\",<br /> \"description\"<br /> ],<br /> \"MerchantProductRequestModels\"\
        : [<br /> {<br /> \"MerchantProductNo\": \"testMerchantProductNo\",<br />\
        \ \"Name\": \"testName\",<br /> \"Description\": \"testDescription\",<br />\
        \ },<br /> {<br /> \"MerchantProductNo\": \"testMerchantProductNo2\",<br />\
        \ \"Name\": \"testName3\",<br /> \"Description\": \"testDescription1\",<br\
        \ /> }<br /> ]<br />}<br /></pre>"
      operationId: ProductBulkPatch
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchMerchantProductDto'
          application/json:
            schema:
              $ref: '#/components/schemas/PatchMerchantProductDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PatchMerchantProductDto'
        description: "1) PropertiesToUpdate: Fields to update<br />2) MerchantProductRequestModels:\
          \ Products to be updated"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfProductCreationResult'
          description: Success
      summary: Updates products attributes
      tags:
      - Product
    post:
      description: "Updates or creates products. The endpoint is purge and replace.<br\
        \ />If you do not include an attribute, it is overwritten with null.<br />Extra\
        \ data arrays are not effected by purge and replace, and remain unchanged.<br\
        \ />To exclude stock from the update, set the **Ignore stock** attribute to\
        \ **true**.<br />To exclude price from the update, set the **Ignore price**\
        \ attribute to **true**.<br /><br />**NB:** the **Merchant product number**\
        \ must be unique."
      operationId: ProductCreate
      parameters:
      - explode: true
        in: query
        name: ignoreStock
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: ignorePrice
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantProductRequest'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantProductRequest'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantProductRequest'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfProductCreationResult'
          description: If products don't pass validations then **ProductMessages**
            in 'Content' are filled
      summary: Updates or creates products
      tags:
      - Product
  /v2/products/{merchantProductNo}:
    delete:
      description: "Deletes a product based on the **Merchant product number**.<br\
        \ /> <br />**NB:** ChannelEngine deactivates but does not delete the product\
        \ entirely, as it might be still referenced in orders.<br />Therefore, the\
        \ references used for this product cannot be reused."
      operationId: ProductDelete
      parameters:
      - description: The MerchantProductNo of the product you wish to delete.
        explode: false
        in: path
        name: merchantProductNo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Deletes a product
      tags:
      - Product
    get:
      description: Retrieves a product based on the **Merchant product number**.
      operationId: ProductGetByMerchantProductNo
      parameters:
      - description: The unique product reference used by the Merchant (sku).
        explode: false
        in: path
        name: merchantProductNo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfMerchantProductResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfMerchantProductResponse'
          description: Not Found
      summary: Gets a product
      tags:
      - Product
    patch:
      description: "Updates specific attributes of a single product based on the **Merchant\
        \ product number**. The endpoint uses the [JSON Patch](http://jsonpatch.com/).<br\
        \ /><br />Sample request:<br /><pre><br /> PATCH /v2/products/{merchantProductNo}<br\
        \ /> {<br /> \"value\": \"Value\",<br /> \"path\": \"Name\",<br /> \"op\"\
        : \"replace\"<br /> }<br /></pre><br />Adding ExtraData:<br /><pre><br />\
        \ PATCH /v2/products/{merchantProductNo}<br /> {<br /> \"value\": {\"key\"\
        : \"Key1\", \"value\": \"value1\"},<br /> \"path\": \"extraData/0\",<br />\
        \ \"op\": \"add\"<br /> }<br /></pre><br />Replacing ExtraData (will replace\
        \ entire ExtraData collection):<br /><pre><br /> PATCH /v2/products/{merchantProductNo}<br\
        \ /> {<br /> \"value\": [{\"key\": \"Key1\", \"value\": \"value1\"}],<br />\
        \ \"path\": \"extraData\",<br /> \"op\": \"replace\"<br /> }<br /></pre><br\
        \ />Removing all ExtraData:<br /><pre><br /> PATCH /v2/products/{merchantProductNo}<br\
        \ /> {<br /> \"path\": \"extraData\",<br /> \"op\": \"replace\"<br /> }<br\
        \ /></pre><br /> Or:<br /><pre><br /> PATCH /v2/products/{merchantProductNo}<br\
        \ /> {<br /> \"path\": \"extraData\",<br /> \"op\": \"remove\"<br /> }<br\
        \ /></pre>"
      operationId: ProductPatch
      parameters:
      - description: The MerchantProductNo of the product you wish to patch
        explode: false
        in: path
        name: merchantProductNo
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JsonPatchDocument'
        description: "The JsonPatchDocument providing the operations you wish to perform\
          \ on the product. <br /> Value contains the value you wish to set on the\
          \ property you're updating (used with operations \"add\" and \"replace\"\
          ).<br /> Path contains the path to the property you're updating (e.g. Description).\
          \ Every property in the model used for creation an updating can be used.<br\
          \ /> Op contains the operation you wish to perform (\"add\",\"replace\"\
          ,\"remove\").<br /> From is only used when using the \"move\" operation.\
          \ It refers to the source path of the value to be moved."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfProductCreationResult'
          description: Success
      summary: Updates product attributes
      tags:
      - Product
  /v2/products/bulkdelete:
    post:
      description: "Deletes a products based on the **Merchant product number**.<br\
        \ /> <br />**NB:** ChannelEngine deactivates but does not delete the products\
        \ entirely, as they might be still referenced in orders.<br />Therefore, the\
        \ references used for these products cannot be reused."
      operationId: ProductBulkDelete
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          application/*+json:
            schema:
              items:
                type: string
              type: array
        description: The list of MerchantProductNo of the products you wish to delete.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: '**Message** can be **"Items successfully deleted"** or in
            case of validations **"Items successfully deleted. Warning:..."**'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Deletes products
      tags:
      - Product
  /v2/products/extra-data/bulk:
    patch:
      description: "Adds, updates, or deletes the custom attributes (a.k.a. extra\
        \ data keys) for multiple products.<br />You can update single or multiple\
        \ attributes for one or multiple products. The format of this endpoint is\
        \ [JSON Patch](http://jsonpatch.com/).<br /><br />**NB:** the **Merchant product\
        \ number** must be unique.<br /><br />Sample request:<br /><pre><br />PATCH\
        \ /v2/products/extra-data/bulk<br />[<br /> {<br /> \"MerchantProductNo\"\
        : \"{merchantProductNo}\",<br /> \"Operations\": [<br /> {<br /> \"Op\": \"\
        add\",<br /> \"Key\": \"{Key}\",<br /> \"Value\": \"{Value}\"<br /> }<br />\
        \ ]<br /> },<br /> {<br /> \"MerchantProductNo\": \"{merchantProductNo}\"\
        ,<br /> \"Operations\": [<br /> {<br /> \"Op\": \"replace\",<br /> \"Key\"\
        : \"{Key}\",<br /> \"Value\": \"{Value}\"<br /> },<br /> {<br /> \"Op\": \"\
        add\",<br /> \"Key\": \"{Key}\",<br /> \"Value\": \"{Value}\"<br /> }<br />\
        \ ]<br /> },<br /> {<br /> \"MerchantProductNo\": \"{merchantProductNo}\"\
        ,<br /> \"Operations\": [<br /> {<br /> \"Op\": \"remove\",<br /> \"Key\"\
        : \"{Key}\",<br /> \"Value\": \"{Value}\"<br /> }<br /> ]<br /> }<br /> ]<br\
        \ /></pre>"
      operationId: ProductBulkPatchExtraDataItems
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantProductExtraDataRequest'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantProductExtraDataRequest'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/MerchantProductExtraDataRequest'
              type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfProductCreationResult'
          description: Success
      summary: "Adds, updates, or deletes custom attributes"
      tags:
      - Product
  /v2/products/extra-data:
    patch:
      description: "Adds, updates, or deletes the specific custom attribute (a.k.a.\
        \ extra data key) for a single product.<br />You can update a single attribute\
        \ for a product. The format of this endpoint is [JSON Patch](http://jsonpatch.com/).<br\
        \ /><br />**NB:** the **Merchant product number** must be unique.<br /><br\
        \ />Sample requests:<br /> <br />Adding ExtraData:<br /><pre><br /> PATCH\
        \ /v2/products/extra-data<br /> {<br /> \"MerchantProductNo\": \"{merchantProductNo}\"\
        ,<br /> \"Operations\": [<br /> {<br /> \"Op\": \"add\",<br /> \"Key\": \"\
        {Key}\",<br /> \"Value\": \"{Value}\"<br /> }<br /> ]<br /> }<br /> </pre><br\
        \ />Updating ExtraData:<br /><pre><br /> PATCH /v2/products/extra-data<br\
        \ /> {<br /> \"MerchantProductNo\": \"{merchantProductNo}\",<br /> \"Operations\"\
        : [<br /> {<br /> \"Op\": \"replace\",<br /> \"Key\": \"{Key}\",<br /> \"\
        Value\": \"{Value}\"<br /> }<br /> ]<br /> }<br /></pre><br />Removing ExtraData\
        \ with key:<br /><pre><br /> PATCH /v2/products/extra-data<br /> {<br /> \"\
        MerchantProductNo\": \"{merchantProductNo}\",<br /> \"Operations\": [<br />\
        \ {<br /> \"Op\": \"remove\",<br /> \"Key\": \"{Key}\",<br /> }<br /> ]<br\
        \ /> }<br /></pre>"
      operationId: ProductPatchExtraDataItems
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantProductExtraDataRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantProductExtraDataRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantProductExtraDataRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfProductCreationResult'
          description: Success
      summary: "Adds, updates, or deletes a custom attribute"
      tags:
      - Product
  /v2/product-attribute-group:
    get:
      description: Gets the custom attribute groups based on the **Group name** provided.
      operationId: ProductAttributeGroupGetByFilter
      parameters:
      - explode: true
        in: query
        name: groupNames
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantProductAttributeGroupWithProductExtraDataResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Gets custom attribute groups
      tags:
      - ProductAttributeGroup
    post:
      description: Creates a custom attribute group based on the set of custom attributes
        (a.k.a. extra data keys).
      operationId: ProductAttributeGroupCreate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/ProductAttributeGroupRequest'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ProductAttributeGroupRequest'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/ProductAttributeGroupRequest'
              type: array
        description: Collection of product attribute groups with linked product extra
          data keys.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Creates a custom attribute group
      tags:
      - ProductAttributeGroup
  /v2/product-attribute-group/{groupName}:
    delete:
      description: Deletes the custom attribute group based on the **Group name**
        provided.<br />**NB:** you can only delete a custom attribute group that does
        not have any markeplaces (a.k.a. channels) linked to it.
      operationId: ProductAttributeGroupDelete
      parameters:
      - description: The group name of the product attribute group you wish to delete.
        explode: false
        in: path
        name: groupName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Deletes a custom attribute group
      tags:
      - ProductAttributeGroup
  /v2/product-attribute-group/{groupName}/add:
    put:
      description: Adds the provided custom attributes (a.k.a. extra data keys) to
        the custom attribute group.<br />**NB:** you can only add existing custom
        attributes to a group.
      operationId: ProductAttributeGroupAddProductExtraData
      parameters:
      - description: The group name of the product attribute group you wish to add
          product extra data.
        explode: false
        in: path
        name: groupName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AddProductExtraDataRequests'
          application/json:
            schema:
              $ref: '#/components/schemas/AddProductExtraDataRequests'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AddProductExtraDataRequests'
        description: Product extra data keys to be added.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Adds custom attributes to a group
      tags:
      - ProductAttributeGroup
  /v2/product-attribute-group/{groupName}/remove:
    put:
      description: Removes the custom attributes (a.k.a. extra data keys) from the
        custom attribute group.<br />**NB:** you can only remove existing custom attributes
        from a group.
      operationId: ProductAttributeGroupRemoveProductExtraData
      parameters:
      - description: The group name of the product attribute group you wish to remove
          product extra data.
        explode: false
        in: path
        name: groupName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RemoveProductExtraDataRequests'
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveProductExtraDataRequests'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RemoveProductExtraDataRequests'
        description: Product extra data keys to be removed.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Deletes custom attributes from a group
      tags:
      - ProductAttributeGroup
  /v2/product-attribute-group/linked-channels:
    get:
      description: Gets all custom attribute groups and marketplaces (a.k.a. channels)
        linked to them.
      operationId: ProductAttributeGroupGetWithChannelsByFilter
      parameters:
      - explode: true
        in: query
        name: groupNames
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantProductAttributeGroupWithLinkedChannelsResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Gets custom attribute groups and linked marketplaces
      tags:
      - ProductAttributeGroup
  /v2/product-attribute-group/rename:
    post:
      description: Renames the custom attribute groups.
      operationId: ProductAttributeGroupRenameProductAttributeGroup
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/RenameProductAttributeGroupRequests'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/RenameProductAttributeGroupRequests'
              type: array
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/RenameProductAttributeGroupRequests'
              type: array
        description: List of old and new product attribute group names.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Renames custom attribute groups
      tags:
      - ProductAttributeGroup
  /v2/productbundles:
    get:
      description: Gets the product bundle details.
      operationId: ProductBundleGetByFilter
      parameters:
      - description: "Search product(s) by Name, MerchantProductNo, Ean or Brand<br\
          \ />This search is applied to the result after applying the other filters."
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Search products by submitting a list of EAN's.
        explode: true
        in: query
        name: eanList
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Search products by submitting a list of MerchantProductNo's.
        explode: true
        in: query
        name: merchantProductNoList
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantProductBundleResponse'
          description: Success
      summary: Gets product bundles
      tags:
      - ProductBundle
  /v2/reports/settlements:
    post:
      description: "Creates a settlement report based on the **Settlement ID** provided.\
        \ There are two types of reports:<br />**SUMMARY** - a high level financial\
        \ overview.<br />**DETAILED** - a detailed report containing all transactions.<br\
        \ /> <br />**NB:** depending on the number of transactions within the settlement,\
        \ it can take a few minutes for the report to be generated."
      operationId: ReportCreateSettlementsReport
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantCreateSettlementsReportRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantCreateSettlementsReportRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantCreateSettlementsReportRequest'
        description: To provide settlementIds and type of report SUMMARY or DETAILED.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantCreateReportResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Creates a settlement report
      tags:
      - Report
  /v2/reports/{reportId}/status:
    get:
      description: "Returns a report status based on the **Report ID** provided. There\
        \ are four statuses:<br />**IN_PROGRESS** - the report is still being created.<br\
        \ />**DONE** - the report has been created.<br />**FAILED** - the report creation\
        \ failed.<br />**NOT_FOUND** - the Report ID was not found.<br /> <br />**NB:**\
        \ if the status is **DONE**, the response contains a URL with a download path."
      operationId: ReportGetStatus
      parameters:
      - description: ""
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantGetReportStatusResponse'
          description: Success
      summary: Gets the status of a settlement report
      tags:
      - Report
  /v2/reports/{reportId}:
    get:
      description: "Gets a settlement report based on the **Report ID** provided.\
        \ The generated report is a CSV file with a semicolon (;) as a delimiter.<br\
        \ />If a field has a comma (,) then it is enclosed in quotes (\"\")."
      operationId: ReportGetReport
      parameters:
      - description: ""
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: byte
                type: file
          description: Report csv
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Gets a settlement report
      tags:
      - Report
  /v2/returns/merchant:
    get:
      description: Gets all returns created by the marketplace.<br /><br />**NB:**
        this endpoint is used for both marketplace and marketplace-fulfilled returns.
      operationId: ReturnGetDeclaredByChannel
      parameters:
      - description: Filter on Channel IDs
        explode: true
        in: query
        name: channelIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Filter on unique order reference used by the merchant.
        explode: true
        in: query
        name: merchantOrderNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique order reference used by the channel.
        explode: true
        in: query
        name: channelOrderNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on the fulfillment type of the order.
        explode: true
        in: query
        name: fulfillmentType
        required: false
        schema:
          $ref: '#/components/schemas/FulfillmentType'
        style: form
      - description: Return status(es) to filter on.
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReturnStatus'
          type: array
        style: form
      - description: Return reason(s) to filter on.
        explode: true
        in: query
        name: reasons
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReturnReason'
          type: array
        style: form
      - description: "Filter on the creation date, starting from this date. This date\
          \ is inclusive."
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the creation date, until this date. This date is exclusive."
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filters based on acknowledgements
        explode: true
        in: query
        name: isAcknowledged
        required: false
        schema:
          type: boolean
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantReturnResponse'
          description: Success
      summary: Gets marketplace returns
      tags:
      - Return
    post:
      description: "Marks an order as either fully or partially returned.<br /><br\
        \ />**NB:** this endpoint is used for merchant returns (i.e.: returns dealt\
        \ with by the merchant)."
      operationId: ReturnDeclareForMerchant
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantReturnRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantReturnRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantReturnRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Creates merchant return
      tags:
      - Return
  /v2/returns:
    get:
      description: "Gets the returns based on the filter provided.<br /><br />**NB:**\
        \ this endpoint is used to retrieve all types of returns: merchant, marketplace,\
        \ mixed, and marketplace-fulfilled."
      operationId: ReturnGetReturns
      parameters:
      - description: Filter on the return's creator. Default is MIXED.
        explode: true
        in: query
        name: creatorType
        required: false
        schema:
          $ref: '#/components/schemas/CreatorFilter'
        style: form
      - description: Filter on Channel IDs
        explode: true
        in: query
        name: channelIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Filter on unique order reference used by the merchant.
        explode: true
        in: query
        name: merchantOrderNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on unique order reference used by the channel.
        explode: true
        in: query
        name: channelOrderNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on the fulfillment type of the order.
        explode: true
        in: query
        name: fulfillmentType
        required: false
        schema:
          $ref: '#/components/schemas/FulfillmentType'
        style: form
      - description: Return status(es) to filter on.
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReturnStatus'
          type: array
        style: form
      - description: Return reason(s) to filter on.
        explode: true
        in: query
        name: reasons
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReturnReason'
          type: array
        style: form
      - description: "Filter on the creation date, starting from this date. This date\
          \ is inclusive."
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the creation date, until this date. This date is exclusive."
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filters based on acknowledgements
        explode: true
        in: query
        name: isAcknowledged
        required: false
        schema:
          type: boolean
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantReturnResponse'
          description: Success
      summary: Gets returns by filter
      tags:
      - Return
    put:
      description: "Marks a return as either fully or partially received.<br /> <br\
        \ />**NB:** this endpoint is used for marketplace returns, and you can only\
        \ accept or reject a return once."
      operationId: ReturnUpdateForMerchant
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantReturnUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantReturnUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantReturnUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Marks returns as received
      tags:
      - Return
  /v2/returns/merchant/new:
    get:
      description: Gets all marketplace returns with the status **In progress**.
      operationId: ReturnGetUnhandled
      parameters:
      - description: Filter on Channel IDs
        explode: true
        in: query
        name: channelIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantReturnResponse'
          description: Success
      summary: Gets unhandled returns
      tags:
      - Return
  /v2/returns/merchant/{merchantOrderNo}:
    get:
      description: Gets the returns based on the **Merchant order number** provided.<br
        /><br />**NB:** this endpoint is meant for merchants. Marketplaces should
        use the **GET /v2/returns/channel** call instead.
      operationId: ReturnGetByMerchantOrderNo
      parameters:
      - explode: false
        in: path
        name: merchantOrderNo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantSingleOrderReturnResponse'
          description: Success
      summary: Gets a return
      tags:
      - Return
  /v2/returns/merchant/acknowledge:
    post:
      description: "Acknowledges a return based on the **Return ID** provided.<br\
        \ /><br />**NB:** by acknowledging a return, you signal that it was registered\
        \ in your system.<br />You can later filter your returns on the **Is acknowledged**\
        \ parameter."
      operationId: ReturnAcknowledge
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantReturnAcknowledgeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantReturnAcknowledgeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantReturnAcknowledgeRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Acknowledges a return
      tags:
      - Return
  /v2/settings:
    get:
      description: "Gets the tenant details, settings, and tax number."
      operationId: SettingsGet
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleOfMerchantSettingsResponse'
          description: Success
      summary: Gets settings
      tags:
      - Settings
  /v2/settlements:
    get:
      description: Gets the settlements based on the available filters.
      operationId: SettlementGetByFilter
      parameters:
      - description: Filter on channel id list.
        explode: true
        in: query
        name: channelIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: "Filter on the start date of the settlement in ChannelEngine,\
          \ until this date. This date is exclusive."
        explode: true
        in: query
        name: fromStartDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the start date of the settlement in ChannelEngine,\
          \ until this date. This date is exclusive."
        explode: true
        in: query
        name: toStartDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the end date of the settlement in ChannelEngine, starting\
          \ from this date. This date is inclusive."
        explode: true
        in: query
        name: fromEndDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the end date of the settlement in ChannelEngine, until\
          \ this date. This date is exclusive."
        explode: true
        in: query
        name: toEndDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the create date of the settlement in ChannelEngine,\
          \ until this date. This date is exclusive."
        explode: true
        in: query
        name: fromCreateDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the create date of the settlement in ChannelEngine,\
          \ until this date. This date is exclusive."
        explode: true
        in: query
        name: toCreateDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the update date of the settlement in ChannelEngine,\
          \ starting from this date. This date is inclusive."
        explode: true
        in: query
        name: fromUpdateDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the update date of the settlement in ChannelEngine,\
          \ until this date. This date is exclusive."
        explode: true
        in: query
        name: toUpdateDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantReportsResponse'
          description: Success
      summary: Gets settlements
      tags:
      - Settlement
  /v2/shipments/merchant:
    get:
      description: "Gets the shipments based on the available filters.<br />Shipments\
        \ are listed in chronological order, from old to new."
      operationId: ShipmentIndex
      parameters:
      - description: Filter on the unique references (ids) as used by the merchant.
        explode: true
        in: query
        name: merchantShipmentNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on the unique references (ids) of order as used by the
          merchant.
        explode: true
        in: query
        name: merchantOrderNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on the shipping method.
        explode: true
        in: query
        name: method
        required: false
        schema:
          type: string
        style: form
      - description: 2-digit Country code
        explode: true
        in: query
        name: shippedFromCountryCodes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Filter on the shipment date, starting from this date. This date\
          \ is inclusive."
        explode: true
        in: query
        name: fromShipmentDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the shipment date, until this date. This date is exclusive."
        explode: true
        in: query
        name: toShipmentDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the create date of the shipment in ChannelEngine,\
          \ starting from this date. This date is inclusive."
        explode: true
        in: query
        name: fromCreateDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the create date of the shipment in ChannelEngine,\
          \ until this date. This date is exclusive."
        explode: true
        in: query
        name: toCreateDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the update date of the shipment in ChannelEngine,\
          \ starting from this date. This date is inclusive."
        explode: true
        in: query
        name: fromUpdateDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the update date of the shipment in ChannelEngine,\
          \ until this date. This date is exclusive."
        explode: true
        in: query
        name: toUpdateDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter on the fulfillment type of the shipment.
        explode: true
        in: query
        name: fulfillmentType
        required: false
        schema:
          $ref: '#/components/schemas/ShipmentFulfillmentType'
        style: form
      - description: Filter on the unique references (ids) as used by the channel.
        explode: true
        in: query
        name: channelShipmentNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter on the unique references (ids) of order as used by the
          channel.
        explode: true
        in: query
        name: channelOrderNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantShipmentResponse'
          description: Success
      summary: Gets shipments by filter
      tags:
      - Shipment
  /v2/shipments:
    post:
      description: "Marks an order as fully or partially shipped, based on the order\
        \ line and quantity input.<br />Indicate the **Stock location ID** if you\
        \ make use of multiple stock locations."
      operationId: ShipmentCreate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Creates shipments
      tags:
      - Shipment
  /v2/shipments/{merchantShipmentNo}:
    put:
      description: Updates an existing shipment with tracking information and shipping
        method.
      operationId: ShipmentUpdate
      parameters:
      - description: The merchant's shipment reference.
        explode: false
        in: path
        name: merchantShipmentNo
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentTrackingRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentTrackingRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentTrackingRequest'
        description: The updated tracking information.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Updates a shipment
      tags:
      - Shipment
  /v2/carriers/{merchantOrderNo}:
    post:
      description: Posts a request to get the available marketplace carrier offers.<br
        /><br />**NB:** this endpoint is used to buy a shipping label through the
        marketplace.
      operationId: ShipmentGetShipmentLabelCarriers
      parameters:
      - description: The merchant's order reference.
        explode: false
        in: path
        name: merchantOrderNo
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentLabelCarrierRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentLabelCarrierRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantShipmentLabelCarrierRequest'
        description: The parcel information
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantShipmentLabelCarrierResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Gets carriers providing shipping labels
      tags:
      - Shipment
  /v2/shipments/channelmethod:
    post:
      description: "Marks an order as either fully or partially shipped, based on\
        \ the order line and quantity input.<br />It also provides the marketplace\
        \ with information necessary to generate a shipping label.<br />If you make\
        \ use of multiple stock locations, indicate the **Stock location ID**.<br\
        \ /> <br />**NB:** to request a shipping label, include information on the\
        \ package size (i.e.: dimensions and weight)."
      operationId: ShipmentCreateForChannelMethod
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantChannelLabelShipmentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantChannelLabelShipmentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantChannelLabelShipmentRequest'
        description: The shipment to create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Creates a shipment and initiates shipping label generation
      tags:
      - Shipment
  /v2/orders/{merchantShipmentNo}/shippinglabel:
    get:
      description: ' Downloads the shipping label for the shipment.<br /> <br /> **NB:**
        it may take some time between the creation of the shipment and the availability
        of the label.<br />A "404 not found" error might indicate that the label is
        not available yet.'
      operationId: ShipmentShippingLabel
      parameters:
      - description: The unique shipment reference as used by the merchant.
        explode: false
        in: path
        name: merchantShipmentNo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.shippingLabel:
              schema:
                format: byte
                type: file
          description: shippingLabel
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Gets a shipping label
      tags:
      - Shipment
  /v2/stocklocations:
    get:
      description: "Gets the different stock locations in use. <br />**NB:** the response\
        \ may include stock locations for 'marketplace fulfilment' solutions (e.g.:\
        \ FBA, LVB, ZFS, etc.).<br />Use the retrieved IDs to get the stock of products\
        \ in specific stock locations, such as the FBA stock."
      operationId: StockLocationIndex
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantStockLocationWithCountryIsoResponse'
          description: Success
      summary: Gets stock locations
      tags:
      - StockLocation
    post:
      description: Creates a stock location on ChannelEngine.
      operationId: StockLocationCreate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantStockLocationCreateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantStockLocationCreateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantStockLocationCreateRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Creates a stock location
      tags:
      - StockLocation
  /v2/webhooks:
    get:
      description: Gets all webhooks created on ChannelEngine.
      operationId: WebhooksGetAll
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfMerchantWebhookResponse'
          description: Success
      summary: Gets webhooks
      tags:
      - Webhook
    post:
      description: Creates a webhook on ChannelEngine.
      operationId: WebhooksCreate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantWebhookRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantWebhookRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantWebhookRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Creates a webhook
      tags:
      - Webhook
    put:
      description: Updates a webhook on ChannelEngine.
      operationId: WebhooksUpdate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantWebhookRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantWebhookRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantWebhookRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Updates a webhook
      tags:
      - Webhook
  /v2/webhooks/{webhookName}:
    delete:
      description: Deletes a webhook from ChannelEngine.
      operationId: WebhooksDelete
      parameters:
      - description: The unique name of a webhook you want to delete.
        explode: false
        in: path
        name: webhookName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Deletes a webhook
      tags:
      - Webhook
components:
  schemas:
    AddProductExtraDataRequests:
      additionalProperties: false
      example:
        ProductExtraDataKeys:
        - ProductExtraDataKeys
        - ProductExtraDataKeys
      properties:
        ProductExtraDataKeys:
          items:
            type: string
          nullable: true
          type: array
      type: object
    AdvanceSettingsResponse:
      additionalProperties: false
      example:
        SetOrdersToClosedOnImport: true
        DefaultVatRate: 6.027456183070403
        DisableAddressValidation: true
        DisableAutoOrderCancellation: true
        SkipHouseNumberValidationForCountryCodes:
        - SkipHouseNumberValidationForCountryCodes
        - SkipHouseNumberValidationForCountryCodes
        OrderTooLongOnNewHoursOffset: 1
        DisableStockReservation: true
        ManageStock: true
        AutomaticallySetPhoneNumberIfEmpty: AutomaticallySetPhoneNumberIfEmpty
        SkipHouseNumberValidation: true
      properties:
        ManageStock:
          type: boolean
        DisableAddressValidation:
          type: boolean
        SkipHouseNumberValidation:
          type: boolean
        SkipHouseNumberValidationForCountryCodes:
          items:
            type: string
          nullable: true
          type: array
        SetOrdersToClosedOnImport:
          type: boolean
        DisableStockReservation:
          type: boolean
        DisableAutoOrderCancellation:
          type: boolean
        AutomaticallySetPhoneNumberIfEmpty:
          nullable: true
          type: string
        DefaultVatRate:
          format: decimal
          type: number
        OrderTooLongOnNewHoursOffset:
          format: int32
          type: integer
      type: object
    ApiResponse:
      additionalProperties: false
      example:
        RequestId: RequestId
        Message: Message
        ValidationErrors:
          key:
          - ValidationErrors
          - ValidationErrors
        StatusCode: 0
        LogId: LogId
        Success: true
      properties:
        StatusCode:
          format: int32
          type: integer
        RequestId:
          nullable: true
          type: string
        LogId:
          nullable: true
          type: string
        Success:
          type: boolean
        Message:
          nullable: true
          type: string
        ValidationErrors:
          additionalProperties:
            items:
              type: string
            nullable: true
            type: array
          nullable: true
          type: object
      type: object
    ChannelCarrierCollectionMethodApi:
      enum:
      - DROP_OFF
      - PICK_UP
      type: string
    ChannelCarrierRecommendationApi:
      enum:
      - NEUTRAL
      - RECOMMENDED
      - DISCOMMENDED
      type: string
    ChannelChannelResponse:
      additionalProperties: false
      example:
        ChannelName: ChannelName
        IsEnabled: true
        ChannelId: 6
      properties:
        ChannelId:
          description: The ID of the Channel.
          format: int32
          nullable: true
          type: integer
        IsEnabled:
          description: A boolean value indicating whether the Channel is enabled.
          type: boolean
        ChannelName:
          description: The name of the Channel.
          nullable: true
          type: string
      type: object
    ChannelGlobalChannelResponse:
      additionalProperties: false
      example:
        LanguageCode: LanguageCode
        GlobalChannelId: 0
        CountryCode: CountryCode
        Channels:
        - ChannelName: ChannelName
          IsEnabled: true
          ChannelId: 6
        - ChannelName: ChannelName
          IsEnabled: true
          ChannelId: 6
        GlobalChannelName: GlobalChannelName
      properties:
        CountryCode:
          description: The country code of the Global Channel.
          nullable: true
          type: string
        GlobalChannelId:
          description: The ID of the Global Channel.
          format: int32
          nullable: true
          type: integer
        Channels:
          description: The status of the instances.
          items:
            $ref: '#/components/schemas/ChannelChannelResponse'
          nullable: true
          type: array
        LanguageCode:
          description: The language code of the Global Channel.
          nullable: true
          type: string
        GlobalChannelName:
          description: The name of the Global Channel.
          nullable: true
          type: string
      type: object
    ChannelListedProductResponse:
      additionalProperties: false
      example:
        Ean: Ean
        ExportStatus: null
        LastExportedPrice: 0.8008281904610115
        ChannelStatus: null
        MerchantProductNo: MerchantProductNo
        LastExportedStock: 6
        ChannelProductNo: ChannelProductNo
      properties:
        ChannelProductNo:
          description: The unique product reference used by the Channel
          nullable: true
          type: string
        ChannelStatus:
          $ref: '#/components/schemas/ListedProductChannelStatus'
        Ean:
          description: EAN
          nullable: true
          type: string
        ExportStatus:
          $ref: '#/components/schemas/ListedProductExportStatus'
        MerchantProductNo:
          description: Your product number (SKU)
          nullable: true
          type: string
        LastExportedPrice:
          description: Your product last exported price
          format: decimal
          nullable: true
          type: number
        LastExportedStock:
          description: Your product last exported stock
          format: int32
          nullable: true
          type: integer
      type: object
    CollectionOfChannelGlobalChannelResponse:
      additionalProperties: false
      example:
        TotalCount: 5
        RequestId: RequestId
        Message: Message
        ValidationErrors:
          key:
          - ValidationErrors
          - ValidationErrors
        Content:
        - LanguageCode: LanguageCode
          GlobalChannelId: 0
          CountryCode: CountryCode
          Channels:
          - ChannelName: ChannelName
            IsEnabled: true
            ChannelId: 6
          - ChannelName: ChannelName
            IsEnabled: true
            ChannelId: 6
          GlobalChannelName: GlobalChannelName
        - LanguageCode: LanguageCode
          GlobalChannelId: 0
          CountryCode: CountryCode
          Channels:
          - ChannelName: ChannelName
            IsEnabled: true
            ChannelId: 6
          - ChannelName: ChannelName
            IsEnabled: true
            ChannelId: 6
          GlobalChannelName: GlobalChannelName
        ItemsPerPage: 5
        Count: 1
        StatusCode: 2
        LogId: LogId
        Success: true
      properties:
        Content:
          items:
            $ref: '#/components/schemas/ChannelGlobalChannelResponse'
          nullable: true
          type: array
        Count:
          format: int32
          type: integer
        TotalCount:
          format: int32
          type: integer
        ItemsPerPage:
          format: int32
          type: integer
        StatusCode:
          format: int32
          type: integer
        RequestId:
          nullable: true
          type: string
        LogId:
          nullable: true
          type: string
        Success:
          type: boolean
        Message:
          nullable: true
          type: string
        ValidationErrors:
          additionalProperties:
            items:
              type: string
            nullable: true
            type: array
          nullable: true
          type: object
      type: object
    CollectionOfChannelListedProductResponse:
[...]
