openapi: 3.0.1
info:
  description: ChannelEngine API for channels
  title: ChannelEngine Channel API
  version: 2.14.0
servers:
- url: https://demo.channelengine.net/api
security:
- apiKey: []
paths:
  /v2/cancellations:
    get:
      description: Gets cancellations based on their creation date.
      operationId: CancellationIndex
      parameters:
      - description: The date from which you will get all created cancellations
        explode: true
        in: query
        name: createdSince
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfChannelCancellationResponse'
          description: Success
      summary: Gets cancelations
      tags:
      - Cancellation
  /v2/cancellations/channel:
    post:
      description: "Create cancellation for order, mark an order or part of order\
        \ as canceled.<br />For order in status NEW cancellation will be created.<br\
        \ />For order in different statuses cancellation request will be created."
      operationId: CancellationSingleChannelCreate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SingleChannelCreateCancellationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SingleChannelCreateCancellationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SingleChannelCreateCancellationRequest'
        description: "Single request with specific order identifier, cancelation reason,\
          \ and order line info for cancelation."
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Creates a cancelation
      tags:
      - Cancellation
  /v2/cancellations/channel/bulk:
    post:
      description: "Create cancellations for orders, mark orders or part of orders\
        \ as canceled.<br />For orders in status NEW cancellations will be created.<br\
        \ />For orders in different statuses cancellation requests will be created."
      operationId: CancellationChannelBulkCCreate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BulkChannelCreateCancellationsRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/BulkChannelCreateCancellationsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkChannelCreateCancellationsRequest'
        description: "Bulk request with specific order identifier, cancelation reason,\
          \ and order line info for cancelation."
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Creates multiple cancellations
      tags:
      - Cancellation
  /v2/orders:
    post:
      description: Create a new order in ChannelEngine.
      operationId: OrderCreate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChannelOrderRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelOrderRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChannelOrderRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Creates order
      tags:
      - Order
  /v2/orders/{merchantOrderNo}/invoice:
    get:
      description: Generates the ChannelEngine sales tax invoice for an order in PDF.
      operationId: OrderInvoice
      parameters:
      - description: The unique order reference as used by the merchant.
        explode: false
        in: path
        name: merchantOrderNo
        required: true
        schema:
          type: string
        style: simple
      - description: Generate the invoice in the billing address' country's language.
        explode: true
        in: query
        name: useCustomerCulture
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: byte
                type: file
          description: Invoice PDF
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Generates an order invoice
      tags:
      - Order
  /v2/orders/{merchantOrderNo}/packingslip:
    get:
      description: Generates the ChannelEngine packing slip for an order in PDF.
      operationId: OrderPackingSlip
      parameters:
      - description: The unique order reference as used by the merchant.
        explode: false
        in: path
        name: merchantOrderNo
        required: true
        schema:
          type: string
        style: simple
      - description: Generate the invoice in the billing address' country's language.
        explode: true
        in: query
        name: useCustomerCulture
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: byte
                type: file
          description: Packing Slip PDF
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
      summary: Generates a packing slip
      tags:
      - Order
  /v2/products/data:
    get:
      description: "Get all products which have changes since the post http call to\
        \ POST 'v2/products/data'.<br />The response contains the products which should\
        \ be created, updated or removed from the channel.<br />After the products\
        \ have been received and processed successfully 'v2/products/data' should<br\
        \ />be called with the merchant references of the products which have been\
        \ processed (see POST 'v2/products/data').<br />ChannelEngine will save this\
        \ information to make sure that the next call to GET 'v2/products/data' only\
        \ returns the<br />products that really have changes (and therefore should\
        \ be created, updated or deleted).<br />A channel willing to integrate with\
        \ channelengine should therefore only do the following things:<br /> 1. Periodically\
        \ poll 'v2/products/data' for changes.<br /> 2. If any products are returned,\
        \ save, update or remove these products.<br /> 3. Send the merchant references\
        \ of the products that have succesfully been processed<br /> in step 2 to\
        \ POST 'v2/products/data'.<br /><br />These three simple steps will make sure\
        \ that the products on the channel will be synchronized<br />with the products\
        \ on ChannelEngine. ChannelEngine will use the API key to determine the customer<br\
        \ />whose products should be returned. Note that child products are only returned\
        \ if their parent product<br />has been acknowledged in a previous transaction.\
        \ This way ChannelEngine knows the value of<br />'ChannelParentReference'.<br\
        \ /><br />For self-integrated channels do not use \"retry data export for\
        \ all (including deleted)\"."
      operationId: ProductGetDataChanges
      parameters:
      - description: "Optional - limit the amount of products returned for each field<br\
          \ /> (ToBeCreated, ToBeUpdated, ToBeRemoved) to this number."
        explode: true
        in: query
        name: maxCount
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional - strips html by default on all fields
        explode: true
        in: query
        name: stripHtml
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Optional - for default is first page returned
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: "Optional - amount of products returned, if not provided return\
          \ all products"
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionChangesOfChannelProductChangesResponse'
          description: Success
      summary: Gets product data changes
      tags:
      - Product
    post:
      description: "This endpoint should be called after a call to GET 'v2/products/data'.\
        \ After a call to<br />this endpoint ChannelEngine 'knows' which products\
        \ are known to the channel (and the last<br />time they have been updated)\
        \ and is therefore able to only return the products<br />that really have\
        \ changed since the last call to POST 'v2/products/data'.<br />The supplied\
        \ ChannelProductNo will be saved<br />in our database and is supposed to be\
        \ unique, the 'Updated' and 'Removed'<br />fields consist of ChannelReferences\
        \ which are sent in a previous call<br />within the field 'Created'."
      operationId: ProductAcknowledgeDataChanges
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChannelProcessedChangesRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelProcessedChangesRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChannelProcessedChangesRequest'
        description: "The merchant references of the products which have been<br />\
          \ successfully created, updated or deleted (after a call to 'GetDataChanges')."
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Acknowledge product data changes
      tags:
      - Product
  /v2/products/offers:
    get:
      description: GET 'v2/products/offers' and POST 'v2/products/offers' closely
        resemble GET 'v2/products/data' and POST 'v2/products/data'. See the 'v2/products/data'<br
        />endpoints for documentation. The difference between both endpoints is that
        'v2/products/offers' only returns Price and Stock updates and can (and should)<br
        />therefore be called more often to keep this information (which might change
        frequently) up to date.
      operationId: ProductGetOfferChanges
      parameters:
      - description: Optional - for default is first page returned. Not recomended
          could return the same offers in different pages.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: "Optional - amount of products returned, if not provided return\
          \ all products. Not recomended could return the same offers in different\
          \ pages."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfChannelOfferResponse'
          description: Success
      summary: Gets product offer changes
      tags:
      - Product
    post:
      description: "After a call to GET 'v2/products/offers' this endpoint should\
        \ be called with the<br />ChannelProductNo of the products that are successfully\
        \ updated.<br />Please see 'v2/products/data' and 'v2/products/data' for documentation.<br\
        \ />In advanced cases, the MerchantProductNo is used for this.<br />In that\
        \ case, bool keyIsMpn should be true."
      operationId: ProductAcknowledgeOfferChanges
      parameters:
      - description: "If set to true, changes has to be a list of merchant references\
          \ instead of channel references."
        explode: true
        in: query
        name: keyIsMpn
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json-patch+json:
            schema:
              items:
                type: string
              type: array
          application/json:
            schema:
              items:
                type: string
              type: array
          application/*+json:
            schema:
              items:
                type: string
              type: array
        description: The channel references of the updated products.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
      summary: Acknowledge product offer changes
      tags:
      - Product
  /v2/products/data/full:
    get:
      operationId: ProductGetDataChangesFull
      parameters:
      - description: Optional - Type of products
        explode: true
        in: query
        name: productType
        required: false
        schema:
          $ref: '#/components/schemas/DataChangesProductType'
        style: form
      - description: "Optional - limit the amount of products returned for each field<br\
          \ /> (ToBeCreated, ToBeUpdated, ToBeRemoved) to this number."
        explode: true
        in: query
        name: maxCount
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional - strips html by default on all fields
        explode: true
        in: query
        name: stripHtml
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Optional - for default is first page returned
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: "Optional - amount of products returned, if not provided return\
          \ all products"
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionChangesOfChannelProductChangesResponse'
          description: Success
      summary: "Gets product data changes with an optional product type filter. If\
        \ you select product type products will be filtered by it.\r\nIf you won't\
        \ pass product type you will get products with types: CHILD, PARENT, GRANDPARENT,\
        \ SINGLE"
      tags:
      - Product
  /v2/returns/channel:
    get:
      description: Get all returns created by the merchant. This call is supposed<br
        />to be used by channels. Merchants should use the 'GET /v2/returns/merchant'<br
        />call.
      operationId: ReturnGetDeclaredByMerchant
      parameters:
      - description: Return status(es) to filter on.
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReturnStatus'
          type: array
        style: form
      - description: Return reason(s) to filter on.
        explode: true
        in: query
        name: reasons
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ReturnReason'
          type: array
        style: form
      - description: "Filter on the creation date, starting from this date. This date\
          \ is inclusive."
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the creation date, until this date. This date is exclusive."
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filters based on acknowledgements
        explode: true
        in: query
        name: isAcknowledged
        required: false
        schema:
          type: boolean
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfChannelReturnResponse'
          description: Success
      summary: Gets returns
      tags:
      - Return
    post:
      description: Marks an order as either fully or partially returned by the customer.
      operationId: ReturnDeclareForChannel
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChannelReturnRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelReturnRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChannelReturnRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Conflict
      summary: Creates return
      tags:
      - Return
  /v2/shipments:
    get:
      description: Gets all shipments created since the supplied date with status
        CLOSED.
      operationId: ShipmentIndex
      parameters:
      - description: "Filter on the creation date, starting from this date. This date\
          \ is inclusive."
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter on the creation date, until this date. This date is exclusive."
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter on the unique references (ids) as used by the channel.
        explode: true
        in: query
        name: channelOrderNos
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The page to filter on. Starts at 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfChannelShipmentResponse'
          description: Success
      summary: Gets shipments
      tags:
      - Shipment
  /v2/orders/{merchantShipmentNo}/shippinglabel:
    get:
      description: ' Downloads the shipping label for the shipment.<br /> <br /> **NB:**
        it may take some time between the creation of the shipment and the availability
        of the label.<br />A "404 not found" error might indicate that the label is
        not available yet.<br />A "410 gone" the shipping label is not available anymore.'
      operationId: ShipmentShippingLabel
      parameters:
      - description: The unique shipment reference as used by the merchant.
        explode: false
        in: path
        name: merchantShipmentNo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.shippingLabel:
              schema:
                format: byte
                type: file
          description: shippingLabel
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Not Found
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Client Error
      summary: Gets a shipping label
      tags:
      - Shipment
components:
  schemas:
    ApiResponse:
      additionalProperties: false
      example:
        ExceptionType: ExceptionType
        RequestId: RequestId
        Message: Message
        ValidationErrors:
          key:
          - ValidationErrors
          - ValidationErrors
        StatusCode: 0
        LogId: LogId
        Success: true
      properties:
        StatusCode:
          format: int32
          type: integer
        RequestId:
          nullable: true
          type: string
        LogId:
          nullable: true
          type: string
        Success:
          type: boolean
        Message:
          nullable: true
          type: string
        ExceptionType:
          nullable: true
          type: string
        ValidationErrors:
          additionalProperties:
            items:
              type: string
            nullable: true
            type: array
          nullable: true
          type: object
      type: object
    BulkChannelCreateCancellationsRequest:
      additionalProperties: false
      example:
        Models:
        - IsForcedCancellation: true
          Identifier: Identifier
          ReasonCode: NOT_IN_STOCK
          ChannelCancellationNo: ChannelCancellationNo
          Reason: Reason
          Lines:
          - Quantity: 0
            OrderLineIdentifier: OrderLineIdentifier
          - Quantity: 0
            OrderLineIdentifier: OrderLineIdentifier
        - IsForcedCancellation: true
          Identifier: Identifier
          ReasonCode: NOT_IN_STOCK
          ChannelCancellationNo: ChannelCancellationNo
          Reason: Reason
          Lines:
          - Quantity: 0
            OrderLineIdentifier: OrderLineIdentifier
          - Quantity: 0
            OrderLineIdentifier: OrderLineIdentifier
        IdentifierType: ORDER_ID
        LineIdentifierType: ORDER_LINE_ID
      properties:
        LineIdentifierType:
          $ref: '#/components/schemas/ChannelCreateCancellationsOrderLineIdentifierType'
        IdentifierType:
          $ref: '#/components/schemas/ChannelCreateCancellationsOrderIdentifierType'
        Models:
          description: The value (of the selected type) to filter on
          items:
            $ref: '#/components/schemas/ChannelCancellation'
          nullable: true
          type: array
      type: object
    CancelReason:
      enum:
      - NOT_IN_STOCK
      - DAMAGED
      - INCOMPLETE
      - CLIENT_CANCELLED
      - INVALID_ADDRESS
      - OTHER
      type: string
    ChannelAddressRequest:
      additionalProperties: false
      example:
        StreetName: StreetName
        CompanyName: CompanyName
        HouseNrAddition: HouseNrAddition
        CountryIso: CountryIso
        HouseNr: HouseNr
        FirstName: FirstName
        ZipCode: ZipCode
        Region: Region
        Gender: MALE
        LastName: LastName
        City: City
        Original: Original
      properties:
        Gender:
          $ref: '#/components/schemas/Gender'
        CompanyName:
          description: Optional. Company addressed too.
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        FirstName:
          description: The first name of the customer.
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        LastName:
          description: "The last name of the customer (includes the surname prefix\
            \ [tussenvoegsel] like 'de', 'van', 'du')."
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        StreetName:
          description: "The name of the street (without house number information)\r\
            \nThis field might be empty if address validation is disabled in ChannelEngine."
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        HouseNr:
          description: "The house number\r\nThis field might be empty if address validation\
            \ is disabled in ChannelEngine."
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        HouseNrAddition:
          description: "Optional. Addition to the house number\r\nIf the address is:\
            \ Groenhazengracht 2c, the address will be:\r\nStreetName: Groenhazengracht\r\
            \nHouseNo: 2\r\nHouseNrAddition: c\r\nThis field might be empty if address\
            \ validation is disabled in ChannelEngine."
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        ZipCode:
          description: The zip or postal code.
          nullable: true
          type: string
        City:
          description: The name of the city.
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        Region:
          description: Optional. State/province/region.
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        CountryIso:
          description: "For example: NL, BE, FR."
          maxLength: 2
          minLength: 0
          nullable: true
          type: string
        Original:
          deprecated: true
          description: "Optional. The address as a single string: use in case the\
            \ address lines are entered\r\nas single lines and later parsed into street,\
            \ house number and house number addition."
          maxLength: 256
          minLength: 0
          nullable: true
          type: string
      type: object
    ChannelCancellation:
      additionalProperties: false
      example:
        IsForcedCancellation: true
        Identifier: Identifier
        ReasonCode: NOT_IN_STOCK
        ChannelCancellationNo: ChannelCancellationNo
        Reason: Reason
        Lines:
        - Quantity: 0
          OrderLineIdentifier: OrderLineIdentifier
        - Quantity: 0
          OrderLineIdentifier: OrderLineIdentifier
      properties:
        ChannelCancellationNo:
          nullable: true
          type: string
        Identifier:
          nullable: true
          type: string
        Reason:
          nullable: true
          type: string
        ReasonCode:
          $ref: '#/components/schemas/CancelReason'
        IsForcedCancellation:
          type: boolean
        Lines:
          items:
            $ref: '#/components/schemas/ChannelCancellationLine'
          nullable: true
          type: array
      type: object
    ChannelCancellationLine:
      additionalProperties: false
      example:
        Quantity: 0
        OrderLineIdentifier: OrderLineIdentifier
      properties:
        OrderLineIdentifier:
          nullable: true
          type: string
        Quantity:
          format: int32
          type: integer
      type: object
    ChannelCancellationLineResponse:
      additionalProperties: false
      example:
        OrderLine:
          UnitVat: 0.8008281904610115
          BundleProductMerchantProductNo: BundleProductMerchantProductNo
          Description: Description
          OriginalUnitVat: 5.637376656633329
          IsFulfillmentByMarketplace: true
          OriginalLineTotalInclVat: 2.3021358869347655
          Gtin: Gtin
          OriginalFeeFixed: 9.301444243932576
          ExactDeliveryDate: 2000-01-23T04:56:07.000+00:00
          OriginalLineVat: 7.061401241503109
          ChannelProductNo: ChannelProductNo
          Status: IN_PROGRESS
          UnitPriceInclVat: 0.4145608029883936
          Condition: NEW
          FeeFixed: 0.7386281948385884
          FeeRate: 0.12315135367772556
          Quantity: 0
          OriginalUnitPriceInclVat: 5.962133916683182
          LineVat: 1.4658129805029452
          LatestDeliveryDate: 2000-01-23T04:56:07.000+00:00
          ExpectedShipmentDate: 2000-01-23T04:56:07.000+00:00
          CancellationRequestedQuantity: 0
          LatestShipmentDate: 2000-01-23T04:56:07.000+00:00
          ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
          MerchantProductNo: MerchantProductNo
          LineTotalInclVat: 6.027456183070403
        ShipmentStatus: SHIPPED
        Quantity: 0
        MerchantProductNo: MerchantProductNo
        ChannelProductNo: ChannelProductNo
      properties:
        ChannelProductNo:
          description: The unique product reference used by the Channel.
          minLength: 1
          type: string
        MerchantProductNo:
          description: The unique product reference used by the Merchant.
          nullable: true
          type: string
        OrderLine:
          $ref: '#/components/schemas/ChannelOrderLineResponse'
        ShipmentStatus:
          $ref: '#/components/schemas/ShipmentLineStatus'
        Quantity:
          description: Quantity of the product to cancel.
          format: int32
          minimum: 0
          type: integer
      required:
      - ChannelProductNo
      - Quantity
      type: object
    ChannelCancellationResponse:
      additionalProperties: false
      example:
        ChannelOrderNo: ChannelOrderNo
        MerchantCancellationNo: MerchantCancellationNo
        CreatedAt: 2000-01-23T04:56:07.000+00:00
        UpdatedAt: 2000-01-23T04:56:07.000+00:00
        ReasonCode: NOT_IN_STOCK
        Reason: Reason
        Lines:
        - OrderLine:
            UnitVat: 0.8008281904610115
            BundleProductMerchantProductNo: BundleProductMerchantProductNo
            Description: Description
            OriginalUnitVat: 5.637376656633329
            IsFulfillmentByMarketplace: true
            OriginalLineTotalInclVat: 2.3021358869347655
            Gtin: Gtin
            OriginalFeeFixed: 9.301444243932576
            ExactDeliveryDate: 2000-01-23T04:56:07.000+00:00
            OriginalLineVat: 7.061401241503109
            ChannelProductNo: ChannelProductNo
            Status: IN_PROGRESS
            UnitPriceInclVat: 0.4145608029883936
            Condition: NEW
            FeeFixed: 0.7386281948385884
            FeeRate: 0.12315135367772556
            Quantity: 0
            OriginalUnitPriceInclVat: 5.962133916683182
            LineVat: 1.4658129805029452
            LatestDeliveryDate: 2000-01-23T04:56:07.000+00:00
            ExpectedShipmentDate: 2000-01-23T04:56:07.000+00:00
            CancellationRequestedQuantity: 0
            LatestShipmentDate: 2000-01-23T04:56:07.000+00:00
            ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
            MerchantProductNo: MerchantProductNo
            LineTotalInclVat: 6.027456183070403
          ShipmentStatus: SHIPPED
          Quantity: 0
          MerchantProductNo: MerchantProductNo
          ChannelProductNo: ChannelProductNo
        - OrderLine:
            UnitVat: 0.8008281904610115
            BundleProductMerchantProductNo: BundleProductMerchantProductNo
            Description: Description
            OriginalUnitVat: 5.637376656633329
            IsFulfillmentByMarketplace: true
            OriginalLineTotalInclVat: 2.3021358869347655
            Gtin: Gtin
            OriginalFeeFixed: 9.301444243932576
            ExactDeliveryDate: 2000-01-23T04:56:07.000+00:00
            OriginalLineVat: 7.061401241503109
            ChannelProductNo: ChannelProductNo
            Status: IN_PROGRESS
            UnitPriceInclVat: 0.4145608029883936
            Condition: NEW
            FeeFixed: 0.7386281948385884
            FeeRate: 0.12315135367772556
            Quantity: 0
            OriginalUnitPriceInclVat: 5.962133916683182
            LineVat: 1.4658129805029452
            LatestDeliveryDate: 2000-01-23T04:56:07.000+00:00
            ExpectedShipmentDate: 2000-01-23T04:56:07.000+00:00
            CancellationRequestedQuantity: 0
            LatestShipmentDate: 2000-01-23T04:56:07.000+00:00
            ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
            MerchantProductNo: MerchantProductNo
            LineTotalInclVat: 6.027456183070403
          ShipmentStatus: SHIPPED
          Quantity: 0
          MerchantProductNo: MerchantProductNo
          ChannelProductNo: ChannelProductNo
      properties:
        ChannelOrderNo:
          description: The unique order reference used by the Channel.
          minLength: 1
          type: string
        MerchantCancellationNo:
          description: The unique cancellation reference used by the Merchant.
          minLength: 1
          type: string
        Lines:
          items:
            $ref: '#/components/schemas/ChannelCancellationLineResponse'
          type: array
        CreatedAt:
          description: The date at which the cancellation was created in ChannelEngine.
          format: date-time
          type: string
        UpdatedAt:
          description: The date at which the cancellation was last modified in ChannelEngine.
          format: date-time
          type: string
        Reason:
          description: Reason for cancellation (text).
          nullable: true
          type: string
        ReasonCode:
          $ref: '#/components/schemas/MancoReason'
      required:
      - ChannelOrderNo
      - Lines
      - MerchantCancellationNo
      type: object
    ChannelCreateCancellationsOrderIdentifierType:
      enum:
      - ORDER_ID
      - CHANNEL_ORDER_NO
      - MERCHANT_ORDER_NO
      type: string
    ChannelCreateCancellationsOrderLineIdentifierType:
      enum:
      - ORDER_LINE_ID
      - CHANNEL_ORDER_LINE_NO
      - MERCHANT_ORDER_LINE_NO
      - PRODUCT_ID
      - CHANNEL_PRODUCT_NO
      - MERCHANT_PRODUCT_NO
      type: string
    ChannelOfferResponse:
      additionalProperties: false
      example:
        MappedFields:
          key: MappedFields
        Price: 0.8008281904610115
        MerchantProductNo: MerchantProductNo
        Stock: 6
        ChannelProductNo: ChannelProductNo
      properties:
        ChannelProductNo:
          description: The unique product reference used by the Channel.
          nullable: true
          type: string
        MerchantProductNo:
          nullable: true
          type: string
        Price:
          format: decimal
          type: number
        Stock:
          format: int32
          type: integer
        MappedFields:
          additionalProperties:
            nullable: true
            type: string
          description: "A channel can require certain fields to be available. The\
            \ channel\r\ncan provide ChannelEngine with this fields after which the\
            \ merchants\r\nwill be able to fill in this field using custom conditions\
            \ in ChannelEngine."
          nullable: true
          type: object
      type: object
    ChannelOrderLineRequest:
      additionalProperties: false
      example:
        UnitPriceInclVat: 0.14658129805029452
        Condition: NEW
        FeeFixed: 0.5962133916683182
        FeeRate: 0.5637376656633328
        Quantity: 0
        LatestDeliveryDate: 2000-01-23T04:56:07.000+00:00
        ExpectedShipmentDate: 2000-01-23T04:56:07.000+00:00
        ExactDeliveryDate: 2000-01-23T04:56:07.000+00:00
        CancellationRequestedQuantity: 0
        LatestShipmentDate: 2000-01-23T04:56:07.000+00:00
        ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
        MerchantProductNo: MerchantProductNo
        ChannelProductNo: ChannelProductNo
      properties:
        ChannelProductNo:
          description: The unique product reference used by the channel.
          maxLength: 60
          minLength: 0
          type: string
        MerchantProductNo:
          description: The unique product reference used by the merchant.
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        Quantity:
          description: The number of items of the product.
          format: int32
          minimum: 0
          type: integer
        CancellationRequestedQuantity:
          description: "The number of items for which cancellation was requested by\
            \ the customer.\r\nSome channels allow a customer to cancel an order until\
            \ it has been shipped.\r\nWhen an order has already been acknowledged\
            \ in ChannelEngine, it can only be cancelled by creating a cancellation.\r\
            \nUse this field to check whether it is still possible to cancel the order.\
            \ If this is the case, submit a cancellation to ChannelEngine."
          format: int32
          minimum: 0
          type: integer
        UnitPriceInclVat:
          description: "The value of a single unit of the ordered product including\
            \ VAT\r\n(in the shop's base currency calculated using the exchange rate\
            \ at the time of ordering)."
          format: decimal
          minimum: 0
          type: number
        FeeFixed:
          description: "A fixed fee that is charged by the Channel for this orderline.\r\
            \nThis fee rate is based on the currency of the Channel\r\nThis field\
            \ is optional, send 0 if not applicable."
          format: decimal
          minimum: 0
          type: number
        FeeRate:
          description: "A percentage fee that is charged by the Channel for this orderline.\r\
            \nThis field is optional, send 0 if not applicable."
          format: decimal
          minimum: 0
          type: number
        Condition:
          $ref: '#/components/schemas/Condition'
        ExactDeliveryDate:
          description: "Exact delivery date from channels, empty if channels not support\
            \ this value"
          format: date-time
          nullable: true
          type: string
        ExpectedDeliveryDate:
          description: "Expected delivery date from channels, empty if channels not\
            \ support this value"
          format: date-time
          nullable: true
          type: string
        LatestDeliveryDate:
          description: "Latest delivery date from channels, empty if channels not\
            \ support this value"
          format: date-time
          nullable: true
          type: string
        ExpectedShipmentDate:
          description: "Expected shipment date from channels, empty if channels not\
            \ support this value"
          format: date-time
          nullable: true
          type: string
        LatestShipmentDate:
          description: "Latest shipment date from channels, empty if channels not\
            \ support this value"
          format: date-time
          nullable: true
          type: string
      required:
      - ChannelProductNo
      - Quantity
      - UnitPriceInclVat
      type: object
    ChannelOrderLineResponse:
      additionalProperties: false
      example:
        UnitVat: 0.8008281904610115
        BundleProductMerchantProductNo: BundleProductMerchantProductNo
        Description: Description
        OriginalUnitVat: 5.637376656633329
        IsFulfillmentByMarketplace: true
        OriginalLineTotalInclVat: 2.3021358869347655
        Gtin: Gtin
        OriginalFeeFixed: 9.301444243932576
        ExactDeliveryDate: 2000-01-23T04:56:07.000+00:00
        OriginalLineVat: 7.061401241503109
        ChannelProductNo: ChannelProductNo
        Status: IN_PROGRESS
        UnitPriceInclVat: 0.4145608029883936
        Condition: NEW
        FeeFixed: 0.7386281948385884
        FeeRate: 0.12315135367772556
        Quantity: 0
        OriginalUnitPriceInclVat: 5.962133916683182
        LineVat: 1.4658129805029452
        LatestDeliveryDate: 2000-01-23T04:56:07.000+00:00
        ExpectedShipmentDate: 2000-01-23T04:56:07.000+00:00
        CancellationRequestedQuantity: 0
        LatestShipmentDate: 2000-01-23T04:56:07.000+00:00
        ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
        MerchantProductNo: MerchantProductNo
        LineTotalInclVat: 6.027456183070403
      properties:
        Status:
          $ref: '#/components/schemas/OrderStatusView'
        IsFulfillmentByMarketplace:
          description: "Is the order fulfilled by the marketplace (amazon: FBA, bol:\
            \ LVB, etc.)?."
          type: boolean
        Gtin:
          description: "Either the GTIN (EAN, ISBN, UPC etc) provided by the channel,\
            \ or the the GTIN belonging to the MerchantProductNo in ChannelEngine."
          nullable: true
          type: string
        Description:
          description: The product description (or title) provided by the channel.
          nullable: true
          type: string
        UnitVat:
          description: "The total amount of VAT charged over the value of a single\
            \ unit of the ordered product\r\n(in the shop's base currency calculated\
            \ using the exchange rate at the time of ordering)."
          format: decimal
          nullable: true
          type: number
        LineTotalInclVat:
          description: "The total value of the order line (quantity * unit price)\
            \ including VAT\r\n(in the shop's base currency calculated using the exchange\
            \ rate at the time of ordering)."
          format: decimal
          nullable: true
          type: number
        LineVat:
          description: "The total amount of VAT charged over the total value of the\
            \ order line (quantity * unit price)\r\n(in the shop's base currency calculated\
            \ using the exchange rate at the time of ordering)."
          format: decimal
          nullable: true
          type: number
        OriginalUnitPriceInclVat:
          description: "The value of a single unit of the ordered product including\
            \ VAT\r\n(in the currency in which the order was paid for, see CurrencyCode)."
          format: decimal
          nullable: true
          type: number
        OriginalUnitVat:
          description: "The total amount of VAT charged over the value of a single\
            \ unit of the ordered product\r\n(in the currency in which the order was\
            \ paid for, see CurrencyCode)."
          format: decimal
          nullable: true
          type: number
        OriginalLineTotalInclVat:
          description: "The total value of the order line (quantity * unit price)\
            \ including VAT\r\n(in the currency in which the order was paid for, see\
            \ CurrencyCode)."
          format: decimal
          nullable: true
          type: number
        OriginalLineVat:
          description: "The total amount of VAT charged over the total value of the\
            \ order line (quantity * unit price)\r\n(in the currency in which the\
            \ order was paid for, see CurrencyCode)."
          format: decimal
          nullable: true
          type: number
        OriginalFeeFixed:
          description: "A percentage fee that is charged by the Channel for this orderline.\r\
            \nThis fee rate is based on the currency of client\r\nThis field is optional,\
            \ send 0 if not applicable."
          format: decimal
          type: number
        BundleProductMerchantProductNo:
          description: "If the product is ordered part of a bundle, this field contains\
            \ the MerchantProductNo of\r\nthe product bundle."
          nullable: true
          type: string
        ChannelProductNo:
          description: The unique product reference used by the channel.
          maxLength: 60
          minLength: 0
          type: string
        MerchantProductNo:
          description: The unique product reference used by the merchant.
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        Quantity:
          description: The number of items of the product.
          format: int32
          minimum: 0
          type: integer
        CancellationRequestedQuantity:
          description: "The number of items for which cancellation was requested by\
            \ the customer.\r\nSome channels allow a customer to cancel an order until\
            \ it has been shipped.\r\nWhen an order has already been acknowledged\
            \ in ChannelEngine, it can only be cancelled by creating a cancellation.\r\
            \nUse this field to check whether it is still possible to cancel the order.\
            \ If this is the case, submit a cancellation to ChannelEngine."
          format: int32
          minimum: 0
          type: integer
        UnitPriceInclVat:
          description: "The value of a single unit of the ordered product including\
            \ VAT\r\n(in the shop's base currency calculated using the exchange rate\
            \ at the time of ordering)."
          format: decimal
          minimum: 0
          type: number
        FeeFixed:
          description: "A fixed fee that is charged by the Channel for this orderline.\r\
            \nThis fee rate is based on the currency of the Channel\r\nThis field\
            \ is optional, send 0 if not applicable."
          format: decimal
          minimum: 0
          type: number
        FeeRate:
          description: "A percentage fee that is charged by the Channel for this orderline.\r\
            \nThis field is optional, send 0 if not applicable."
          format: decimal
          minimum: 0
          type: number
        Condition:
          $ref: '#/components/schemas/Condition'
        ExactDeliveryDate:
          description: "Exact delivery date from channels, empty if channels not support\
            \ this value"
          format: date-time
          nullable: true
          type: string
        ExpectedDeliveryDate:
          description: "Expected delivery date from channels, empty if channels not\
            \ support this value"
          format: date-time
          nullable: true
          type: string
        LatestDeliveryDate:
          description: "Latest delivery date from channels, empty if channels not\
            \ support this value"
          format: date-time
          nullable: true
          type: string
        ExpectedShipmentDate:
          description: "Expected shipment date from channels, empty if channels not\
            \ support this value"
          format: date-time
          nullable: true
          type: string
        LatestShipmentDate:
          description: "Latest shipment date from channels, empty if channels not\
            \ support this value"
          format: date-time
          nullable: true
          type: string
      required:
      - ChannelProductNo
      - Quantity
      - UnitPriceInclVat
      type: object
    ChannelOrderRequest:
      additionalProperties: false
      example:
        ChannelOrderNo: ChannelOrderNo
        Email: Email
        VatNo: VatNo
        KeyIsMerchantProductNo: true
        ExtraData:
          key: ExtraData
        OrderDate: 2000-01-23T04:56:07.000+00:00
        BillingAddress:
          StreetName: StreetName
          CompanyName: CompanyName
          HouseNrAddition: HouseNrAddition
          CountryIso: CountryIso
          HouseNr: HouseNr
          FirstName: FirstName
          ZipCode: ZipCode
          Region: Region
          Gender: MALE
          LastName: LastName
          City: City
          Original: Original
        CurrencyCode: CurrencyCode
        LanguageCode: LanguageCode
        CompanyRegistrationNo: CompanyRegistrationNo
        OrderFee: 0.7061401241503109
        Phone: Phone
        PaymentReferenceNo: PaymentReferenceNo
        ShippingAddress:
          StreetName: StreetName
          CompanyName: CompanyName
          HouseNrAddition: HouseNrAddition
          CountryIso: CountryIso
          HouseNr: HouseNr
          FirstName: FirstName
          ZipCode: ZipCode
          Region: Region
          Gender: MALE
          LastName: LastName
          City: City
          Original: Original
        ShippingCostsInclVat: 0.23021358869347652
        IsBusinessOrder: true
        PaymentMethod: PaymentMethod
        CommercialOrderNo: CommercialOrderNo
        ChannelCustomerNo: ChannelCustomerNo
        Lines:
        - UnitPriceInclVat: 0.14658129805029452
          Condition: NEW
          FeeFixed: 0.5962133916683182
          FeeRate: 0.5637376656633328
          Quantity: 0
          LatestDeliveryDate: 2000-01-23T04:56:07.000+00:00
          ExpectedShipmentDate: 2000-01-23T04:56:07.000+00:00
          ExactDeliveryDate: 2000-01-23T04:56:07.000+00:00
          CancellationRequestedQuantity: 0
          LatestShipmentDate: 2000-01-23T04:56:07.000+00:00
          ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
          MerchantProductNo: MerchantProductNo
          ChannelProductNo: ChannelProductNo
        - UnitPriceInclVat: 0.14658129805029452
          Condition: NEW
          FeeFixed: 0.5962133916683182
          FeeRate: 0.5637376656633328
          Quantity: 0
          LatestDeliveryDate: 2000-01-23T04:56:07.000+00:00
          ExpectedShipmentDate: 2000-01-23T04:56:07.000+00:00
          ExactDeliveryDate: 2000-01-23T04:56:07.000+00:00
          CancellationRequestedQuantity: 0
          LatestShipmentDate: 2000-01-23T04:56:07.000+00:00
          ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
          MerchantProductNo: MerchantProductNo
          ChannelProductNo: ChannelProductNo
      properties:
        BillingAddress:
          $ref: '#/components/schemas/ChannelAddressRequest'
        ShippingAddress:
          $ref: '#/components/schemas/ChannelAddressRequest'
        ChannelOrderNo:
          description: The unique order reference used by the Channel.
          maxLength: 60
          minLength: 0
          type: string
        CommercialOrderNo:
          description: "Optional (if identical to the ChannelOrderNo). The order reference\
            \ used by the Channel for commercial purposes (e.g. on the invoice).\r\
            \nCan be different from the ChannelOrderNo. For example when the internal\
            \ unique order reference is a unique id or guid, while the commercial\
            \ order reference is a human readable reference that can be reused."
          maxLength: 60
          minLength: 0
          nullable: true
          type: string
        IsBusinessOrder:
          description: "Optional. Is a business order (default value is false).\r\n\
            If not provided the VAT Number will be checked. If a VAT Number is found,\
            \ IsBusinessOrder will be set to true.\r\nNo VAT will be calculated when\
            \ set to true."
          nullable: true
          type: boolean
        KeyIsMerchantProductNo:
          description: Optional. Is the MPN used as key for the product (default value
            is false).
          type: boolean
        Lines:
          description: The order lines.
          items:
            $ref: '#/components/schemas/ChannelOrderLineRequest'
          type: array
        ShippingCostsInclVat:
          description: "The shipping fee including VAT\r\n(in the shop's base currency\
            \ calculated using the exchange rate at the time of ordering)."
          format: decimal
          minimum: 0
          type: number
        OrderFee:
          description: "The fee on order itself (besides the fees on the order lines)\r\
            \n(in the currency in which the order was paid for, see CurrencyCode)."
          format: decimal
          minimum: 0
          type: number
        Phone:
          description: The customer's telephone number.
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        Email:
          description: The customer's email.
          maxLength: 250
          minLength: 0
          type: string
        LanguageCode:
          description: The language of the order. Has to be a 2-letter ISO language
            code.
          maxLength: 2
          minLength: 0
          nullable: true
          type: string
        CompanyRegistrationNo:
          description: Optional. A company's chamber of commerce number.
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        VatNo:
          description: Optional. A company's VAT number.
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        PaymentMethod:
          description: The payment method used on the order.
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        PaymentReferenceNo:
          description: Reference or transaction id for the payment
          maxLength: 250
          minLength: 0
          nullable: true
          type: string
        CurrencyCode:
          description: The currency code for the amounts of the order.
          maxLength: 3
          minLength: 1
          type: string
        OrderDate:
          description: The date the order was created at the channel.
          format: date-time
          type: string
        ChannelCustomerNo:
          description: The unique customer reference used by the channel.
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        ExtraData:
          additionalProperties:
            nullable: true
            type: string
          description: Extra data on the order.
          nullable: true
          type: object
      required:
      - BillingAddress
      - ChannelOrderNo
      - CurrencyCode
      - Email
      - Lines
      - OrderDate
      - ShippingAddress
      - ShippingCostsInclVat
      type: object
    ChannelProcessedChangesRequest:
      additionalProperties: false
      example:
        Updated:
        - Updated
        - Updated
        Removed:
        - Removed
        - Removed
        Created:
        - Id: 0
          ChannelProductNo: ChannelProductNo
        - Id: 0
          ChannelProductNo: ChannelProductNo
      properties:
        Created:
          description: "A collection of pairs of merchant and channel references\r\
            \nof the products which are successfully created. The channel references\r\
            \nare saved such that in subsequent calls these can be used instead of\
            \ the\r\nmerchant references."
          items:
            $ref: '#/components/schemas/ChannelProductReferencesRequest'
          nullable: true
          type: array
        Updated:
          description: The channel references of the products which are successfully
            updated.
          items:
            type: string
          nullable: true
          type: array
        Removed:
          description: The channel references of the products which are successfully
            removed.
          items:
            type: string
          nullable: true
          type: array
      type: object
    ChannelProductChangesResponse:
      additionalProperties: false
      example:
        ToBeUpdated:
        - MSRP: 2.3021358869347655
          Description: Description
          Size: Size
          PurchasePrice: 7.061401241503109
          MinPrice: 0.5962133916683182
          Url: Url
          Name: Name
          VatRateType: STANDARD
          ParentChannelProductNo: ParentChannelProductNo
          IsFrozen: true
          ChannelProductNo: ChannelProductNo
          ExtraImageUrl9: ExtraImageUrl9
          ExtraImageUrl8: ExtraImageUrl8
          ExtraImageUrl7: ExtraImageUrl7
          ExtraImageUrl6: ExtraImageUrl6
          ExtraImageUrl5: ExtraImageUrl5
          Color: Color
          ExtraImageUrl4: ExtraImageUrl4
          ProductType: SINGLE
          ImageUrl: ImageUrl
          ManufacturerProductNumber: ManufacturerProductNumber
          ExtraData:
          - Type: TEXT
            IsPublic: true
            LanguageIsoCode: LanguageIsoCode
            Value: Value
            Key: Key
          - Type: TEXT
            IsPublic: true
            LanguageIsoCode: LanguageIsoCode
            Value: Value
            Key: Key
          Brand: Brand
          ShippingTime: ShippingTime
          Ean: Ean
          MappedFields:
            key: MappedFields
          Price: 0.14658129805029452
          GrandparentChannelProductNo: GrandparentChannelProductNo
          ShippingCost: 9.301444243932576
          ExtraImageUrl3: ExtraImageUrl3
          ExtraImageUrl2: ExtraImageUrl2
          ExtraImageUrl1: ExtraImageUrl1
          Id: 0
          MaxPrice: 0.5637376656633328
          MerchantProductNo: MerchantProductNo
          CategoryTrail: CategoryTrail
          Stock: 0
        - MSRP: 2.3021358869347655
          Description: Description
          Size: Size
          PurchasePrice: 7.061401241503109
          MinPrice: 0.5962133916683182
          Url: Url
          Name: Name
          VatRateType: STANDARD
          ParentChannelProductNo: ParentChannelProductNo
          IsFrozen: true
          ChannelProductNo: ChannelProductNo
          ExtraImageUrl9: ExtraImageUrl9
          ExtraImageUrl8: ExtraImageUrl8
          ExtraImageUrl7: ExtraImageUrl7
          ExtraImageUrl6: ExtraImageUrl6
          ExtraImageUrl5: ExtraImageUrl5
          Color: Color
          ExtraImageUrl4: ExtraImageUrl4
          ProductType: SINGLE
          ImageUrl: ImageUrl
          ManufacturerProductNumber: ManufacturerProductNumber
          ExtraData:
          - Type: TEXT
            IsPublic: true
            LanguageIsoCode: LanguageIsoCode
            Value: Value
            Key: Key
          - Type: TEXT
            IsPublic: true
            LanguageIsoCode: LanguageIsoCode
            Value: Value
            Key: Key
          Brand: Brand
          ShippingTime: ShippingTime
          Ean: Ean
          MappedFields:
            key: MappedFields
          Price: 0.14658129805029452
          GrandparentChannelProductNo: GrandparentChannelProductNo
          ShippingCost: 9.301444243932576
          ExtraImageUrl3: ExtraImageUrl3
          ExtraImageUrl2: ExtraImageUrl2
          ExtraImageUrl1: ExtraImageUrl1
          Id: 0
          MaxPrice: 0.5637376656633328
          MerchantProductNo: MerchantProductNo
          CategoryTrail: CategoryTrail
          Stock: 0
        ToBeRemoved:
        - ToBeRemoved
        - ToBeRemoved
        ToBeCreated:
        - MSRP: 2.3021358869347655
          Description: Description
          Size: Size
          PurchasePrice: 7.061401241503109
          MinPrice: 0.5962133916683182
          Url: Url
          Name: Name
          VatRateType: STANDARD
          ParentChannelProductNo: ParentChannelProductNo
          IsFrozen: true
          ChannelProductNo: ChannelProductNo
          ExtraImageUrl9: ExtraImageUrl9
          ExtraImageUrl8: ExtraImageUrl8
          ExtraImageUrl7: ExtraImageUrl7
          ExtraImageUrl6: ExtraImageUrl6
          ExtraImageUrl5: ExtraImageUrl5
          Color: Color
          ExtraImageUrl4: ExtraImageUrl4
          ProductType: SINGLE
          ImageUrl: ImageUrl
          ManufacturerProductNumber: ManufacturerProductNumber
          ExtraData:
          - Type: TEXT
            IsPublic: true
            LanguageIsoCode: LanguageIsoCode
            Value: Value
            Key: Key
          - Type: TEXT
            IsPublic: true
            LanguageIsoCode: LanguageIsoCode
            Value: Value
            Key: Key
          Brand: Brand
          ShippingTime: ShippingTime
          Ean: Ean
          MappedFields:
            key: MappedFields
          Price: 0.14658129805029452
          GrandparentChannelProductNo: GrandparentChannelProductNo
          ShippingCost: 9.301444243932576
          ExtraImageUrl3: ExtraImageUrl3
          ExtraImageUrl2: ExtraImageUrl2
          ExtraImageUrl1: ExtraImageUrl1
          Id: 0
          MaxPrice: 0.5637376656633328
          MerchantProductNo: MerchantProductNo
          CategoryTrail: CategoryTrail
          Stock: 0
        - MSRP: 2.3021358869347655
          Description: Description
          Size: Size
          PurchasePrice: 7.061401241503109
          MinPrice: 0.5962133916683182
          Url: Url
          Name: Name
          VatRateType: STANDARD
          ParentChannelProductNo: ParentChannelProductNo
          IsFrozen: true
          ChannelProductNo: ChannelProductNo
          ExtraImageUrl9: ExtraImageUrl9
          ExtraImageUrl8: ExtraImageUrl8
          ExtraImageUrl7: ExtraImageUrl7
          ExtraImageUrl6: ExtraImageUrl6
          ExtraImageUrl5: ExtraImageUrl5
          Color: Color
          ExtraImageUrl4: ExtraImageUrl4
          ProductType: SINGLE
          ImageUrl: ImageUrl
          ManufacturerProductNumber: ManufacturerProductNumber
          ExtraData:
          - Type: TEXT
            IsPublic: true
            LanguageIsoCode: LanguageIsoCode
            Value: Value
            Key: Key
          - Type: TEXT
            IsPublic: true
            LanguageIsoCode: LanguageIsoCode
            Value: Value
            Key: Key
          Brand: Brand
          ShippingTime: ShippingTime
          Ean: Ean
          MappedFields:
            key: MappedFields
          Price: 0.14658129805029452
          GrandparentChannelProductNo: GrandparentChannelProductNo
          ShippingCost: 9.301444243932576
          ExtraImageUrl3: ExtraImageUrl3
          ExtraImageUrl2: ExtraImageUrl2
          ExtraImageUrl1: ExtraImageUrl1
          Id: 0
          MaxPrice: 0.5637376656633328
          MerchantProductNo: MerchantProductNo
          CategoryTrail: CategoryTrail
          Stock: 0
      properties:
        ToBeCreated:
          items:
            $ref: '#/components/schemas/ChannelProductResponse'
          nullable: true
          type: array
        ToBeUpdated:
          items:
            $ref: '#/components/schemas/ChannelProductResponse'
          nullable: true
          type: array
        ToBeRemoved:
          items:
            type: string
          nullable: true
          type: array
      type: object
    ChannelProductExtraDataItemResponse:
      additionalProperties: false
      example:
        Type: TEXT
        IsPublic: true
        LanguageIsoCode: LanguageIsoCode
        Value: Value
        Key: Key
      properties:
        Key:
          description: Name of the extra data field.
          maxLength: 100
          minLength: 0
          type: string
        Value:
          description: Value of the extra data field.
          nullable: true
          type: string
        Type:
          $ref: '#/components/schemas/ExtraDataType'
        IsPublic:
          description: Add this field to the export of the product feed to the channel.
          type: boolean
        LanguageIsoCode:
          description: The 2-letter ISO code of the extra data
          nullable: true
          type: string
      required:
      - Key
      type: object
    ChannelProductReferencesRequest:
      additionalProperties: false
      example:
        Id: 0
        ChannelProductNo: ChannelProductNo
      properties:
        Id:
          description: The unique ChannelEngine product ID.
          format: int32
          type: integer
        ChannelProductNo:
          description: The unique product reference used by the Channel.
          minLength: 1
          type: string
      required:
      - ChannelProductNo
      type: object
    ChannelProductResponse:
      additionalProperties: false
      example:
        MSRP: 2.3021358869347655
        Description: Description
        Size: Size
        PurchasePrice: 7.061401241503109
        MinPrice: 0.5962133916683182
        Url: Url
        Name: Name
        VatRateType: STANDARD
        ParentChannelProductNo: ParentChannelProductNo
        IsFrozen: true
        ChannelProductNo: ChannelProductNo
        ExtraImageUrl9: ExtraImageUrl9
        ExtraImageUrl8: ExtraImageUrl8
        ExtraImageUrl7: ExtraImageUrl7
        ExtraImageUrl6: ExtraImageUrl6
        ExtraImageUrl5: ExtraImageUrl5
        Color: Color
        ExtraImageUrl4: ExtraImageUrl4
        ProductType: SINGLE
        ImageUrl: ImageUrl
        ManufacturerProductNumber: ManufacturerProductNumber
        ExtraData:
        - Type: TEXT
          IsPublic: true
          LanguageIsoCode: LanguageIsoCode
          Value: Value
          Key: Key
        - Type: TEXT
          IsPublic: true
          LanguageIsoCode: LanguageIsoCode
          Value: Value
          Key: Key
        Brand: Brand
        ShippingTime: ShippingTime
        Ean: Ean
        MappedFields:
          key: MappedFields
        Price: 0.14658129805029452
        GrandparentChannelProductNo: GrandparentChannelProductNo
        ShippingCost: 9.301444243932576
        ExtraImageUrl3: ExtraImageUrl3
        ExtraImageUrl2: ExtraImageUrl2
        ExtraImageUrl1: ExtraImageUrl1
        Id: 0
        MaxPrice: 0.5637376656633328
        MerchantProductNo: MerchantProductNo
        CategoryTrail: CategoryTrail
        Stock: 0
      properties:
        Id:
          description: "An unique identifier which ChannelEngine uses to identify\
            \ the product.\r\nNeeded in the call 'POST /v2/products/data'."
          format: int32
          type: integer
        ChannelProductNo:
          description: The unique product reference used by the Channel for the product.
          nullable: true
          type: string
        ParentChannelProductNo:
          description: The unique product reference used by the Channel for the parent
            product.
          nullable: true
          type: string
        GrandparentChannelProductNo:
          description: The unique product reference used by the Channel for the grandparent
            product.
          nullable: true
          type: string
        MappedFields:
          additionalProperties:
            nullable: true
            type: string
          description: "A channel can require certain fields to be available. The\
            \ channel\r\ncan provide ChannelEngine with this fields after which the\
            \ merchants\r\nwill be able to fill in this field using custom conditions\
            \ in ChannelEngine."
          nullable: true
          type: object
        ProductType:
          $ref: '#/components/schemas/ProductType'
        ExtraData:
          description: "An optional list of key-value pairs containing\r\nextra data\
            \ about this product. This data can be\r\nsent to channels or used for\
            \ filtering products."
          items:
            $ref: '#/components/schemas/ChannelProductExtraDataItemResponse'
          nullable: true
          type: array
        Name:
          description: The name of the product.
          maxLength: 256
          minLength: 0
          nullable: true
          type: string
        Description:
          description: "A description of the product. Can contain these HTML tags:\r\
            \ndiv, span, pre, p, br, hr, hgroup, h1, h2, h3, h4, h5, h6, ul, ol, li,\
            \ dl, dt, dd, strong, em, b, i, u, img, a, abbr, address, blockquote,\
            \ area, audio, video, caption, table, tbody, td, tfoot, th, thead, tr."
          nullable: true
          type: string
        Brand:
          description: The brand of the product.
          maxLength: 256
          minLength: 0
          nullable: true
          type: string
        Size:
          description: "Optional. The size of the product (variant). E.g. fashion\
            \ size (S-XL, 46-56, etc), width of the watch, etc.."
          maxLength: 64
          minLength: 0
          nullable: true
          type: string
        Color:
          description: Optional. The color of the product (variant).
          maxLength: 64
          minLength: 0
          nullable: true
          type: string
        Ean:
          description: The EAN of GTIN of the product.
          maxLength: 64
          minLength: 0
          nullable: true
          type: string
        ManufacturerProductNumber:
          description: The unique product reference used by the manufacturer/vendor
            of the product.
          maxLength: 64
          minLength: 0
          nullable: true
          type: string
        MerchantProductNo:
          description: A unique identifier of the product. (sku).
          maxLength: 64
          minLength: 0
          type: string
        Stock:
          deprecated: true
          description: The number of items in stock.
          format: int32
          minimum: 0
          type: integer
        Price:
          description: "Price, including VAT."
          format: decimal
          minimum: 0
          type: number
        MinPrice:
          description: "Min price, including VAT."
          format: decimal
          minimum: 0
          nullable: true
          type: number
        MaxPrice:
          description: "Max price, including VAT."
          format: decimal
          minimum: 0
          nullable: true
          type: number
        MSRP:
          description: Manufacturer's suggested retail price.
          format: decimal
          nullable: true
          type: number
        PurchasePrice:
          description: Optional. The purchase price of the product. Useful for repricing.
          format: decimal
          nullable: true
          type: number
        VatRateType:
          $ref: '#/components/schemas/VatRateType'
        ShippingCost:
          description: Shipping cost of the product.
          format: decimal
          nullable: true
          type: number
        ShippingTime:
          description: "A textual representation of the shippingtime.\r\nFor example,\
            \ in Dutch: 'Op werkdagen voor 22:00 uur besteld, morgen in huis'."
          maxLength: 128
          minLength: 0
          nullable: true
          type: string
        Url:
          description: "A URL pointing to the merchant's webpage\r\nwhich displays\
            \ this product."
          maxLength: 512
          minLength: 0
          nullable: true
          type: string
        ImageUrl:
          description: "A URL at which an image of this product\r\ncan be found."
          maxLength: 512
          minLength: 0
          nullable: true
          type: string
        ExtraImageUrl1:
          description: Url to an additional image of product (1).
          maxLength: 512
          minLength: 0
          nullable: true
          type: string
        ExtraImageUrl2:
          description: Url to an additional image of product (2).
          maxLength: 512
          minLength: 0
          nullable: true
          type: string
        ExtraImageUrl3:
          description: Url to an additional image of product (3).
          maxLength: 512
          minLength: 0
          nullable: true
          type: string
        ExtraImageUrl4:
          description: Url to an additional image of product (4).
          maxLength: 512
          minLength: 0
          nullable: true
          type: string
        ExtraImageUrl5:
          description: Url to an additional image of product (5).
          maxLength: 512
          minLength: 0
          nullable: true
          type: string
        ExtraImageUrl6:
          description: Url to an additional image of product (6).
          maxLength: 512
          minLength: 0
          nullable: true
          type: string
        ExtraImageUrl7:
          description: Url to an additional image of product (7).
          maxLength: 512
          minLength: 0
          nullable: true
          type: string
        ExtraImageUrl8:
          description: Url to an additional image of product (8).
          maxLength: 512
          minLength: 0
          nullable: true
          type: string
        ExtraImageUrl9:
          description: Url to an additional image of product (9).
          maxLength: 512
          minLength: 0
          nullable: true
          type: string
        IsFrozen:
          description: Specifies whether Product is disabled on all channels.
          type: boolean
        CategoryTrail:
          description: "The category to which this product belongs.\r\nPlease supply\
            \ this field in the following format:\r\n'maincategory > category > subcategory'\r\
            \nFor example:\r\n'vehicles > bikes > mountainbike'."
          nullable: true
          type: string
      required:
      - MerchantProductNo
      type: object
    ChannelReturnLineRequest:
      additionalProperties: false
      example:
        Quantity: 0
        ExtraData:
          key: ExtraData
        MerchantProductNo: MerchantProductNo
        ChannelProductNo: ChannelProductNo
      properties:
        ChannelProductNo:
          description: The unique product reference used by the Channel.
          nullable: true
          type: string
        MerchantProductNo:
          description: The unique product reference used by the Merchant.
          nullable: true
          type: string
        Quantity:
          description: Number of items of the product in this return.
          format: int32
          minimum: 0
          type: integer
        ExtraData:
          additionalProperties:
            nullable: true
            type: string
          description: Extra data on the returnline. Each item must have an unqiue
            key
          nullable: true
          type: object
      required:
      - Quantity
      type: object
    ChannelReturnLineResponse:
      additionalProperties: false
      example:
        RejectedQuantity: 6
        OrderLine:
          UnitVat: 0.8008281904610115
          BundleProductMerchantProductNo: BundleProductMerchantProductNo
          Description: Description
          OriginalUnitVat: 5.637376656633329
          IsFulfillmentByMarketplace: true
          OriginalLineTotalInclVat: 2.3021358869347655
          Gtin: Gtin
          OriginalFeeFixed: 9.301444243932576
          ExactDeliveryDate: 2000-01-23T04:56:07.000+00:00
          OriginalLineVat: 7.061401241503109
          ChannelProductNo: ChannelProductNo
          Status: IN_PROGRESS
          UnitPriceInclVat: 0.4145608029883936
          Condition: NEW
          FeeFixed: 0.7386281948385884
          FeeRate: 0.12315135367772556
          Quantity: 0
          OriginalUnitPriceInclVat: 5.962133916683182
          LineVat: 1.4658129805029452
          LatestDeliveryDate: 2000-01-23T04:56:07.000+00:00
          ExpectedShipmentDate: 2000-01-23T04:56:07.000+00:00
          CancellationRequestedQuantity: 0
          LatestShipmentDate: 2000-01-23T04:56:07.000+00:00
          ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
          MerchantProductNo: MerchantProductNo
          LineTotalInclVat: 6.027456183070403
        ShipmentStatus: SHIPPED
        AcceptedQuantity: 0
        Quantity: 0
        ExtraData:
          key: ExtraData
        MerchantProductNo: MerchantProductNo
        ChannelProductNo: ChannelProductNo
      properties:
        ChannelProductNo:
          description: The unique product reference used by the Channel.
          minLength: 1
          type: string
        MerchantProductNo:
          description: The unique product reference used by the Merchant.
          nullable: true
          type: string
        AcceptedQuantity:
          description: The number of accepted items of the product in this return
            (should normally be refunded).
          format: int32
          nullable: true
          type: integer
        RejectedQuantity:
          description: The number of rejected items of the product in this return
            (should normally not be refunded).
          format: int32
          nullable: true
          type: integer
        OrderLine:
          $ref: '#/components/schemas/ChannelOrderLineResponse'
        ShipmentStatus:
          $ref: '#/components/schemas/ShipmentLineStatus'
        Quantity:
          description: Number of items of the product in this return.
          format: int32
          minimum: 0
          type: integer
        ExtraData:
          additionalProperties:
            nullable: true
            type: string
          description: Extra data on the returnline. Each item must have an unqiue
            key
          nullable: true
          type: object
      required:
      - ChannelProductNo
      - Quantity
      type: object
    ChannelReturnRequest:
      additionalProperties: false
      example:
        Status: IN_PROGRESS
        ReturnDate: 2000-01-23T04:56:07.000+00:00
        ChannelOrderNo: ChannelOrderNo
        MerchantComment: MerchantComment
        RefundExclVat: 0.5962133916683182
        KeyIsMerchantProductNo: true
        ExtraData:
          key: ExtraData
        Reason: PRODUCT_DEFECT
        KeyIsMerchantOrderNo: true
        CustomerComment: CustomerComment
        ChannelReference: ChannelReference
        MerchantOrderNo: MerchantOrderNo
        Id: 6
        Lines:
        - Quantity: 0
          ExtraData:
            key: ExtraData
          MerchantProductNo: MerchantProductNo
          ChannelProductNo: ChannelProductNo
        - Quantity: 0
          ExtraData:
            key: ExtraData
          MerchantProductNo: MerchantProductNo
          ChannelProductNo: ChannelProductNo
        RefundInclVat: 0.14658129805029452
      properties:
        ChannelOrderNo:
          description: The unique order reference used by the Channel.
          nullable: true
          type: string
        MerchantOrderNo:
          description: The unique order reference used by the Merchant (sku).
          nullable: true
          type: string
        ChannelReference:
          description: The unique return reference used by the Channel.
          minLength: 1
          type: string
        KeyIsMerchantOrderNo:
          description: Optional. Is the MON used as key for the order (default value
            is false).
          type: boolean
        KeyIsMerchantProductNo:
          description: Optional. Is the MPN used as key for the product (default value
            is false).
          type: boolean
        Lines:
          items:
            $ref: '#/components/schemas/ChannelReturnLineRequest'
          minItems: 1
          type: array
        Status:
          $ref: '#/components/schemas/ChannelReturnStatus'
        Id:
          description: The unique return reference used by ChannelEngine.
          format: int32
          type: integer
        Reason:
          $ref: '#/components/schemas/ReturnReason'
        CustomerComment:
          description: Optional. Comment of customer on the (reason of) the return.
          maxLength: 4001
          minLength: 0
          nullable: true
          type: string
        MerchantComment:
          description: Optional. Comment of merchant on the return.
          maxLength: 4001
          minLength: 0
          nullable: true
          type: string
        RefundInclVat:
          description: Refund amount incl. VAT.
          format: decimal
          minimum: 0
          type: number
        RefundExclVat:
          description: Refund amount excl. VAT.
          format: decimal
          minimum: 0
          type: number
        ReturnDate:
          description: The date at which the return was originally created in the
            source system (if available).
          format: date-time
          nullable: true
          type: string
        ExtraData:
          additionalProperties:
            nullable: true
            type: string
          description: Extra data on the return. Each item must have an unqiue key
          nullable: true
          type: object
      required:
      - ChannelReference
      - Lines
      type: object
    ChannelReturnResponse:
      additionalProperties: false
      example:
        ReturnDate: 2000-01-23T04:56:07.000+00:00
        ChannelOrderNo: ChannelOrderNo
        MerchantComment: MerchantComment
        RefundExclVat: 0.23021358869347652
        CreatedAt: 2000-01-23T04:56:07.000+00:00
        ExtraData:
          key: ExtraData
        UpdatedAt: 2000-01-23T04:56:07.000+00:00
        Reason: PRODUCT_DEFECT
        CustomerComment: CustomerComment
        ChannelReturnNo: ChannelReturnNo
        MerchantOrderNo: MerchantOrderNo
        Id: 5
        Lines:
        - RejectedQuantity: 6
          OrderLine:
            UnitVat: 0.8008281904610115
            BundleProductMerchantProductNo: BundleProductMerchantProductNo
            Description: Description
            OriginalUnitVat: 5.637376656633329
            IsFulfillmentByMarketplace: true
            OriginalLineTotalInclVat: 2.3021358869347655
            Gtin: Gtin
            OriginalFeeFixed: 9.301444243932576
            ExactDeliveryDate: 2000-01-23T04:56:07.000+00:00
            OriginalLineVat: 7.061401241503109
            ChannelProductNo: ChannelProductNo
            Status: IN_PROGRESS
            UnitPriceInclVat: 0.4145608029883936
            Condition: NEW
            FeeFixed: 0.7386281948385884
            FeeRate: 0.12315135367772556
            Quantity: 0
            OriginalUnitPriceInclVat: 5.962133916683182
            LineVat: 1.4658129805029452
            LatestDeliveryDate: 2000-01-23T04:56:07.000+00:00
            ExpectedShipmentDate: 2000-01-23T04:56:07.000+00:00
            CancellationRequestedQuantity: 0
            LatestShipmentDate: 2000-01-23T04:56:07.000+00:00
            ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
            MerchantProductNo: MerchantProductNo
            LineTotalInclVat: 6.027456183070403
          ShipmentStatus: SHIPPED
          AcceptedQuantity: 0
          Quantity: 0
          ExtraData:
            key: ExtraData
          MerchantProductNo: MerchantProductNo
          ChannelProductNo: ChannelProductNo
        - RejectedQuantity: 6
          OrderLine:
            UnitVat: 0.8008281904610115
            BundleProductMerchantProductNo: BundleProductMerchantProductNo
            Description: Description
            OriginalUnitVat: 5.637376656633329
            IsFulfillmentByMarketplace: true
            OriginalLineTotalInclVat: 2.3021358869347655
            Gtin: Gtin
            OriginalFeeFixed: 9.301444243932576
            ExactDeliveryDate: 2000-01-23T04:56:07.000+00:00
            OriginalLineVat: 7.061401241503109
            ChannelProductNo: ChannelProductNo
            Status: IN_PROGRESS
            UnitPriceInclVat: 0.4145608029883936
            Condition: NEW
            FeeFixed: 0.7386281948385884
            FeeRate: 0.12315135367772556
            Quantity: 0
            OriginalUnitPriceInclVat: 5.962133916683182
            LineVat: 1.4658129805029452
            LatestDeliveryDate: 2000-01-23T04:56:07.000+00:00
            ExpectedShipmentDate: 2000-01-23T04:56:07.000+00:00
            CancellationRequestedQuantity: 0
            LatestShipmentDate: 2000-01-23T04:56:07.000+00:00
            ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
            MerchantProductNo: MerchantProductNo
            LineTotalInclVat: 6.027456183070403
          ShipmentStatus: SHIPPED
          AcceptedQuantity: 0
          Quantity: 0
          ExtraData:
            key: ExtraData
          MerchantProductNo: MerchantProductNo
          ChannelProductNo: ChannelProductNo
        RefundInclVat: 0.5637376656633328
      properties:
        ChannelReturnNo:
          description: The unique return reference used by the Channel.
          minLength: 1
          type: string
        ChannelOrderNo:
          description: The unique order reference used by the Channel.
          minLength: 1
          type: string
        MerchantOrderNo:
          description: The unique order reference used by the Merchant (sku).
          nullable: true
          type: string
        Lines:
          items:
            $ref: '#/components/schemas/ChannelReturnLineResponse'
          type: array
        CreatedAt:
          description: The date at which the return was created in ChannelEngine.
          format: date-time
          type: string
        UpdatedAt:
          description: The date at which the return was last modified in ChannelEngine.
          format: date-time
          type: string
        Id:
          description: The unique return reference used by ChannelEngine.
          format: int32
          type: integer
        Reason:
          $ref: '#/components/schemas/ReturnReason'
        CustomerComment:
          description: Optional. Comment of customer on the (reason of) the return.
          maxLength: 4001
          minLength: 0
          nullable: true
          type: string
        MerchantComment:
          description: Optional. Comment of merchant on the return.
          maxLength: 4001
          minLength: 0
          nullable: true
          type: string
        RefundInclVat:
          description: Refund amount incl. VAT.
          format: decimal
          minimum: 0
          type: number
        RefundExclVat:
          description: Refund amount excl. VAT.
          format: decimal
          minimum: 0
          type: number
        ReturnDate:
          description: The date at which the return was originally created in the
            source system (if available).
          format: date-time
          nullable: true
          type: string
        ExtraData:
          additionalProperties:
            nullable: true
            type: string
          description: Extra data on the return. Each item must have an unqiue key
          nullable: true
          type: object
      required:
      - ChannelOrderNo
      - ChannelReturnNo
      - Lines
      type: object
    ChannelReturnStatus:
      enum:
      - IN_PROGRESS
      - RECEIVED
      type: string
    ChannelShipmentLineResponse:
      additionalProperties: false
      example:
        OrderLine:
          UnitVat: 0.8008281904610115
          BundleProductMerchantProductNo: BundleProductMerchantProductNo
          Description: Description
          OriginalUnitVat: 5.637376656633329
          IsFulfillmentByMarketplace: true
          OriginalLineTotalInclVat: 2.3021358869347655
          Gtin: Gtin
          OriginalFeeFixed: 9.301444243932576
          ExactDeliveryDate: 2000-01-23T04:56:07.000+00:00
          OriginalLineVat: 7.061401241503109
          ChannelProductNo: ChannelProductNo
          Status: IN_PROGRESS
          UnitPriceInclVat: 0.4145608029883936
          Condition: NEW
          FeeFixed: 0.7386281948385884
          FeeRate: 0.12315135367772556
          Quantity: 0
          OriginalUnitPriceInclVat: 5.962133916683182
          LineVat: 1.4658129805029452
          LatestDeliveryDate: 2000-01-23T04:56:07.000+00:00
          ExpectedShipmentDate: 2000-01-23T04:56:07.000+00:00
          CancellationRequestedQuantity: 0
          LatestShipmentDate: 2000-01-23T04:56:07.000+00:00
          ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
          MerchantProductNo: MerchantProductNo
          LineTotalInclVat: 6.027456183070403
        ShipmentStatus: SHIPPED
        Quantity: 0
        ExtraData:
          key: ExtraData
        MerchantProductNo: MerchantProductNo
        ChannelProductNo: ChannelProductNo
      properties:
        ChannelProductNo:
          description: The unique product reference used by the Channel.
          minLength: 1
          type: string
        MerchantProductNo:
          description: The unique product reference used by the Merchant.
          nullable: true
          type: string
        OrderLine:
          $ref: '#/components/schemas/ChannelOrderLineResponse'
        ShipmentStatus:
          $ref: '#/components/schemas/ShipmentLineStatus'
        ExtraData:
          additionalProperties:
            nullable: true
            type: string
          description: Extra data on the order. Each item must have an unqiue key
          nullable: true
          type: object
        Quantity:
          description: Number of items of the product in the shipment.
          format: int32
          minimum: 0
          type: integer
      required:
      - ChannelProductNo
      - Quantity
      type: object
    ChannelShipmentResponse:
      additionalProperties: false
      example:
        ChannelOrderNo: ChannelOrderNo
        TrackTraceUrl: TrackTraceUrl
        CreatedAt: 2000-01-23T04:56:07.000+00:00
        ExtraData:
          key: ExtraData
        Method: Method
        ShippedFromStockLocationId: 6
        UpdatedAt: 2000-01-23T04:56:07.000+00:00
        ShippedFromCountryCode: ShippedFromCountryCode
        ShipmentDate: 2000-01-23T04:56:07.000+00:00
        TrackTraceNo: TrackTraceNo
        ReturnTrackTraceNo: ReturnTrackTraceNo
        MerchantShipmentNo: MerchantShipmentNo
        Lines:
        - OrderLine:
            UnitVat: 0.8008281904610115
            BundleProductMerchantProductNo: BundleProductMerchantProductNo
            Description: Description
            OriginalUnitVat: 5.637376656633329
            IsFulfillmentByMarketplace: true
            OriginalLineTotalInclVat: 2.3021358869347655
            Gtin: Gtin
            OriginalFeeFixed: 9.301444243932576
            ExactDeliveryDate: 2000-01-23T04:56:07.000+00:00
            OriginalLineVat: 7.061401241503109
            ChannelProductNo: ChannelProductNo
            Status: IN_PROGRESS
            UnitPriceInclVat: 0.4145608029883936
            Condition: NEW
            FeeFixed: 0.7386281948385884
            FeeRate: 0.12315135367772556
            Quantity: 0
            OriginalUnitPriceInclVat: 5.962133916683182
            LineVat: 1.4658129805029452
            LatestDeliveryDate: 2000-01-23T04:56:07.000+00:00
            ExpectedShipmentDate: 2000-01-23T04:56:07.000+00:00
            CancellationRequestedQuantity: 0
            LatestShipmentDate: 2000-01-23T04:56:07.000+00:00
            ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
            MerchantProductNo: MerchantProductNo
            LineTotalInclVat: 6.027456183070403
          ShipmentStatus: SHIPPED
          Quantity: 0
          ExtraData:
            key: ExtraData
          MerchantProductNo: MerchantProductNo
          ChannelProductNo: ChannelProductNo
        - OrderLine:
            UnitVat: 0.8008281904610115
            BundleProductMerchantProductNo: BundleProductMerchantProductNo
            Description: Description
            OriginalUnitVat: 5.637376656633329
            IsFulfillmentByMarketplace: true
            OriginalLineTotalInclVat: 2.3021358869347655
            Gtin: Gtin
            OriginalFeeFixed: 9.301444243932576
            ExactDeliveryDate: 2000-01-23T04:56:07.000+00:00
            OriginalLineVat: 7.061401241503109
            ChannelProductNo: ChannelProductNo
            Status: IN_PROGRESS
            UnitPriceInclVat: 0.4145608029883936
            Condition: NEW
            FeeFixed: 0.7386281948385884
            FeeRate: 0.12315135367772556
            Quantity: 0
            OriginalUnitPriceInclVat: 5.962133916683182
            LineVat: 1.4658129805029452
            LatestDeliveryDate: 2000-01-23T04:56:07.000+00:00
            ExpectedShipmentDate: 2000-01-23T04:56:07.000+00:00
            CancellationRequestedQuantity: 0
            LatestShipmentDate: 2000-01-23T04:56:07.000+00:00
            ExpectedDeliveryDate: 2000-01-23T04:56:07.000+00:00
            MerchantProductNo: MerchantProductNo
            LineTotalInclVat: 6.027456183070403
          ShipmentStatus: SHIPPED
          Quantity: 0
          ExtraData:
            key: ExtraData
          MerchantProductNo: MerchantProductNo
          ChannelProductNo: ChannelProductNo
      properties:
        ChannelOrderNo:
          description: The unique order reference used by the Channel.
          minLength: 1
          type: string
        MerchantShipmentNo:
          description: The unique shipment reference used by the Merchant.
          nullable: true
          type: string
        Lines:
          items:
            $ref: '#/components/schemas/ChannelShipmentLineResponse'
          type: array
        CreatedAt:
          description: The date at which the shipment was created in ChannelEngine.
          format: date-time
          type: string
        UpdatedAt:
          description: The date at which the shipment was last modified in ChannelEngine.
          format: date-time
          type: string
        ExtraData:
          additionalProperties:
            nullable: true
            type: string
          description: Extra data on the order. Each item must have an unqiue key
          nullable: true
          type: object
        TrackTraceNo:
          description: The unique shipping reference used by the Shipping carrier
            (track&trace number).
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        TrackTraceUrl:
          description: A link to a page of the carrier where the customer can track
            the shipping of her package.
          maxLength: 250
          minLength: 0
          nullable: true
          type: string
        ReturnTrackTraceNo:
          description: The unique return shipping reference that may be used by the
            Shipping carrier (track & trace number) if the shipment is returned.
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        Method:
          description: "Shipment method: the carrier used for shipping the package.\
            \ E.g. DHL, postNL."
          maxLength: 50
          minLength: 0
          nullable: true
          type: string
        ShippedFromCountryCode:
          description: The code of the country from where the package is being shipped.
          maxLength: 3
          minLength: 0
          nullable: true
          type: string
        ShippedFromStockLocationId:
          description: The id of the stock location where you ship the package from
          format: int32
          nullable: true
          type: integer
        ShipmentDate:
          description: The date at which the shipment was originally created in the
            source system (if available).
          format: date-time
          nullable: true
          type: string
      required:
      - ChannelOrderNo
      - Lines
      type: object
    CollectionChangesOfChannelProductChangesResponse:
      additionalProperties: false
      example:
        ExceptionType: ExceptionType
        RequestId: RequestId
        Message: Message
        ToBeCreatedTotalCount: 3
        ValidationErrors:
          key:
          - ValidationErrors
          - ValidationErrors
        Content:
          ToBeUpdated:
          - MSRP: 2.3021358869347655
            Description: Description
            Size: Size
            PurchasePrice: 7.061401241503109
            MinPrice: 0.5962133916683182
            Url: Url
            Name: Name
            VatRateType: STANDARD
            ParentChannelProductNo: ParentChannelProductNo
            IsFrozen: true
            ChannelProductNo: ChannelProductNo
            ExtraImageUrl9: ExtraImageUrl9
            ExtraImageUrl8: ExtraImageUrl8
            ExtraImageUrl7: ExtraImageUrl7
            ExtraImageUrl6: ExtraImageUrl6
            ExtraImageUrl5: ExtraImageUrl5
            Color: Color
            ExtraImageUrl4: ExtraImageUrl4
            ProductType: SINGLE
            ImageUrl: ImageUrl
            ManufacturerProductNumber: ManufacturerProductNumber
            ExtraData:
            - Type: TEXT
              IsPublic: true
              LanguageIsoCode: LanguageIsoCode
              Value: Value
              Key: Key
            - Type: TEXT
              IsPublic: true
              LanguageIsoCode: LanguageIsoCode
              Value: Value
              Key: Key
            Brand: Brand
            ShippingTime: ShippingTime
            Ean: Ean
            MappedFields:
              key: MappedFields
            Price: 0.14658129805029452
            GrandparentChannelProductNo: GrandparentChannelProductNo
            ShippingCost: 9.301444243932576
            ExtraImageUrl3: ExtraImageUrl3
            ExtraImageUrl2: ExtraImageUrl2
            ExtraImageUrl1: ExtraImageUrl1
            Id: 0
            MaxPrice: 0.5637376656633328
            MerchantProductNo: MerchantProductNo
            CategoryTrail: CategoryTrail
            Stock: 0
          - MSRP: 2.3021358869347655
            Description: Description
            Size: Size
[...]
