/*
ChannelEngine Merchant API

ChannelEngine API for merchants

API version: 2.14.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package merchant

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
	"time"
	"os"
)


// OrderAPIService OrderAPI service
type OrderAPIService service

type OrderAPIOrderAcknowledgeRequest struct {
	ctx context.Context
	ApiService *OrderAPIService
	merchantOrderAcknowledgementRequest *MerchantOrderAcknowledgementRequest
}

// Relations between the id&#39;s returned by ChannelEngine and the references which the merchant uses.
func (r OrderAPIOrderAcknowledgeRequest) MerchantOrderAcknowledgementRequest(merchantOrderAcknowledgementRequest MerchantOrderAcknowledgementRequest) OrderAPIOrderAcknowledgeRequest {
	r.merchantOrderAcknowledgementRequest = &merchantOrderAcknowledgementRequest
	return r
}

func (r OrderAPIOrderAcknowledgeRequest) Execute() (*ApiResponse, *http.Response, error) {
	return r.ApiService.OrderAcknowledgeExecute(r)
}

/*
OrderAcknowledge Acknowledges orders

Acknowledges an order to confirm order import.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrderAPIOrderAcknowledgeRequest
*/
func (a *OrderAPIService) OrderAcknowledge(ctx context.Context) OrderAPIOrderAcknowledgeRequest {
	return OrderAPIOrderAcknowledgeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiResponse
func (a *OrderAPIService) OrderAcknowledgeExecute(r OrderAPIOrderAcknowledgeRequest) (*ApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrderAPIService.OrderAcknowledge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/orders/acknowledge"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.merchantOrderAcknowledgementRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrderAPIOrderGetByFilterRequest struct {
	ctx context.Context
	ApiService *OrderAPIService
	statuses *[]OrderStatusView
	emailAddresses *[]string
	merchantOrderNos *[]string
	channelOrderNos *[]string
	commercialOrderNos *[]string
	fromDate *time.Time
	toDate *time.Time
	fromCreatedAtDate *time.Time
	toCreatedAtDate *time.Time
	excludeMarketplaceFulfilledOrdersAndLines *bool
	fulfillmentType *FulfillmentType
	onlyWithCancellationRequests *bool
	channelIds *[]int32
	stockLocationIds *[]int32
	isAcknowledged *bool
	fromUpdatedAtDate *time.Time
	toUpdatedAtDate *time.Time
	fromAcknowledgedDate *time.Time
	toAcknowledgedDate *time.Time
	fromClosedAtDate *time.Time
	toClosedAtDate *time.Time
	page *int32
}

// Order status(es) to filter on. AWAITING_PAYMENT orders will be excluded if it is not included in this Statuses filter.
func (r OrderAPIOrderGetByFilterRequest) Statuses(statuses []OrderStatusView) OrderAPIOrderGetByFilterRequest {
	r.statuses = &statuses
	return r
}

// Client emailaddresses to filter on.
func (r OrderAPIOrderGetByFilterRequest) EmailAddresses(emailAddresses []string) OrderAPIOrderGetByFilterRequest {
	r.emailAddresses = &emailAddresses
	return r
}

// Filter on unique order reference used by the merchant.
func (r OrderAPIOrderGetByFilterRequest) MerchantOrderNos(merchantOrderNos []string) OrderAPIOrderGetByFilterRequest {
	r.merchantOrderNos = &merchantOrderNos
	return r
}

// Filter on unique order reference used by the channel.
func (r OrderAPIOrderGetByFilterRequest) ChannelOrderNos(channelOrderNos []string) OrderAPIOrderGetByFilterRequest {
	r.channelOrderNos = &channelOrderNos
	return r
}

// Filter on commercial order numbers.
func (r OrderAPIOrderGetByFilterRequest) CommercialOrderNos(commercialOrderNos []string) OrderAPIOrderGetByFilterRequest {
	r.commercialOrderNos = &commercialOrderNos
	return r
}

// Filter on the order date, starting from this date. This date is inclusive.&lt;br /&gt;The order date is based on the data we got from a channel.
func (r OrderAPIOrderGetByFilterRequest) FromDate(fromDate time.Time) OrderAPIOrderGetByFilterRequest {
	r.fromDate = &fromDate
	return r
}

// Filter on the order date, until this date. This date is exclusive.&lt;br /&gt;The order date is based on the data we got from a channel.
func (r OrderAPIOrderGetByFilterRequest) ToDate(toDate time.Time) OrderAPIOrderGetByFilterRequest {
	r.toDate = &toDate
	return r
}

// Filter on the created at date in ChannelEngine, starting from this date. This date is inclusive.&lt;br /&gt;The created date is set on the date and time when the order is created.
func (r OrderAPIOrderGetByFilterRequest) FromCreatedAtDate(fromCreatedAtDate time.Time) OrderAPIOrderGetByFilterRequest {
	r.fromCreatedAtDate = &fromCreatedAtDate
	return r
}

// Filter on the created at date in ChannelEngine, until this date. This date is exclusive.&lt;br /&gt;The created date is set on the date and time when the order is created.
func (r OrderAPIOrderGetByFilterRequest) ToCreatedAtDate(toCreatedAtDate time.Time) OrderAPIOrderGetByFilterRequest {
	r.toCreatedAtDate = &toCreatedAtDate
	return r
}

// Exclude order (lines) fulfilled by the marketplace (amazon:FBA, bol:LVB, etc.)
func (r OrderAPIOrderGetByFilterRequest) ExcludeMarketplaceFulfilledOrdersAndLines(excludeMarketplaceFulfilledOrdersAndLines bool) OrderAPIOrderGetByFilterRequest {
	r.excludeMarketplaceFulfilledOrdersAndLines = &excludeMarketplaceFulfilledOrdersAndLines
	return r
}

// Filter orders on fulfillment type. This will include all orders lines, even if they are partially fulfilled by the marketplace.&lt;br /&gt;To exclude orders and lines that are fulfilled by the marketplace from the response, set ExcludeMarketplaceFulfilledOrdersAndLines to true.
func (r OrderAPIOrderGetByFilterRequest) FulfillmentType(fulfillmentType FulfillmentType) OrderAPIOrderGetByFilterRequest {
	r.fulfillmentType = &fulfillmentType
	return r
}

// Filter on orders containing cancellation requests.&lt;br /&gt;Some channels allow a customer to cancel an order until it has been shipped.&lt;br /&gt;When an order has already been acknowledged in ChannelEngine, it can only be cancelled by creating a cancellation.
func (r OrderAPIOrderGetByFilterRequest) OnlyWithCancellationRequests(onlyWithCancellationRequests bool) OrderAPIOrderGetByFilterRequest {
	r.onlyWithCancellationRequests = &onlyWithCancellationRequests
	return r
}

// Filter orders on channel(s).
func (r OrderAPIOrderGetByFilterRequest) ChannelIds(channelIds []int32) OrderAPIOrderGetByFilterRequest {
	r.channelIds = &channelIds
	return r
}

// Filter on stock locations
func (r OrderAPIOrderGetByFilterRequest) StockLocationIds(stockLocationIds []int32) OrderAPIOrderGetByFilterRequest {
	r.stockLocationIds = &stockLocationIds
	return r
}

// Filter on acknowledged value
func (r OrderAPIOrderGetByFilterRequest) IsAcknowledged(isAcknowledged bool) OrderAPIOrderGetByFilterRequest {
	r.isAcknowledged = &isAcknowledged
	return r
}

// Filter on the order update date, starting from this date. This date is inclusive.
func (r OrderAPIOrderGetByFilterRequest) FromUpdatedAtDate(fromUpdatedAtDate time.Time) OrderAPIOrderGetByFilterRequest {
	r.fromUpdatedAtDate = &fromUpdatedAtDate
	return r
}

// Filter on the order update date, unitl this date. This date is exclusive.
func (r OrderAPIOrderGetByFilterRequest) ToUpdatedAtDate(toUpdatedAtDate time.Time) OrderAPIOrderGetByFilterRequest {
	r.toUpdatedAtDate = &toUpdatedAtDate
	return r
}

// Filter on the order acknowledged date, starting from this date. This date is inclusive.
func (r OrderAPIOrderGetByFilterRequest) FromAcknowledgedDate(fromAcknowledgedDate time.Time) OrderAPIOrderGetByFilterRequest {
	r.fromAcknowledgedDate = &fromAcknowledgedDate
	return r
}

// Filter on the order acknowledged date, until this date. This date is exclusive.
func (r OrderAPIOrderGetByFilterRequest) ToAcknowledgedDate(toAcknowledgedDate time.Time) OrderAPIOrderGetByFilterRequest {
	r.toAcknowledgedDate = &toAcknowledgedDate
	return r
}

// Filter on the order ClosedAt date, starting from this date. This date is inclusive.
func (r OrderAPIOrderGetByFilterRequest) FromClosedAtDate(fromClosedAtDate time.Time) OrderAPIOrderGetByFilterRequest {
	r.fromClosedAtDate = &fromClosedAtDate
	return r
}

// Filter on the order ClosedAt date, until this date. This date is exclusive.
func (r OrderAPIOrderGetByFilterRequest) ToClosedAtDate(toClosedAtDate time.Time) OrderAPIOrderGetByFilterRequest {
	r.toClosedAtDate = &toClosedAtDate
	return r
}

// The page to filter on. Starts at 1.
func (r OrderAPIOrderGetByFilterRequest) Page(page int32) OrderAPIOrderGetByFilterRequest {
	r.page = &page
	return r
}

func (r OrderAPIOrderGetByFilterRequest) Execute() (*CollectionOfMerchantOrderResponse, *http.Response, error) {
	return r.ApiService.OrderGetByFilterExecute(r)
}

/*
OrderGetByFilter Gets orders by filter

Gets orders based on the available filters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrderAPIOrderGetByFilterRequest
*/
func (a *OrderAPIService) OrderGetByFilter(ctx context.Context) OrderAPIOrderGetByFilterRequest {
	return OrderAPIOrderGetByFilterRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfMerchantOrderResponse
func (a *OrderAPIService) OrderGetByFilterExecute(r OrderAPIOrderGetByFilterRequest) (*CollectionOfMerchantOrderResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CollectionOfMerchantOrderResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrderAPIService.OrderGetByFilter")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/orders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.statuses != nil {
		t := *r.statuses
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "statuses", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "statuses", t, "multi")
		}
	}
	if r.emailAddresses != nil {
		t := *r.emailAddresses
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "emailAddresses", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "emailAddresses", t, "multi")
		}
	}
	if r.merchantOrderNos != nil {
		t := *r.merchantOrderNos
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "merchantOrderNos", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "merchantOrderNos", t, "multi")
		}
	}
	if r.channelOrderNos != nil {
		t := *r.channelOrderNos
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "channelOrderNos", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "channelOrderNos", t, "multi")
		}
	}
	if r.commercialOrderNos != nil {
		t := *r.commercialOrderNos
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "commercialOrderNos", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "commercialOrderNos", t, "multi")
		}
	}
	if r.fromDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromDate", r.fromDate, "")
	}
	if r.toDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toDate", r.toDate, "")
	}
	if r.fromCreatedAtDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromCreatedAtDate", r.fromCreatedAtDate, "")
	}
	if r.toCreatedAtDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toCreatedAtDate", r.toCreatedAtDate, "")
	}
	if r.excludeMarketplaceFulfilledOrdersAndLines != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "excludeMarketplaceFulfilledOrdersAndLines", r.excludeMarketplaceFulfilledOrdersAndLines, "")
	}
	if r.fulfillmentType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fulfillmentType", r.fulfillmentType, "")
	}
	if r.onlyWithCancellationRequests != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "onlyWithCancellationRequests", r.onlyWithCancellationRequests, "")
	}
	if r.channelIds != nil {
		t := *r.channelIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "channelIds", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "channelIds", t, "multi")
		}
	}
	if r.stockLocationIds != nil {
		t := *r.stockLocationIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "stockLocationIds", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "stockLocationIds", t, "multi")
		}
	}
	if r.isAcknowledged != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isAcknowledged", r.isAcknowledged, "")
	}
	if r.fromUpdatedAtDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromUpdatedAtDate", r.fromUpdatedAtDate, "")
	}
	if r.toUpdatedAtDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toUpdatedAtDate", r.toUpdatedAtDate, "")
	}
	if r.fromAcknowledgedDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromAcknowledgedDate", r.fromAcknowledgedDate, "")
	}
	if r.toAcknowledgedDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toAcknowledgedDate", r.toAcknowledgedDate, "")
	}
	if r.fromClosedAtDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromClosedAtDate", r.fromClosedAtDate, "")
	}
	if r.toClosedAtDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "toClosedAtDate", r.toClosedAtDate, "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrderAPIOrderGetNewRequest struct {
	ctx context.Context
	ApiService *OrderAPIService
	stockLocationId *int32
}

// The ChannelEngine id of the stock location.
func (r OrderAPIOrderGetNewRequest) StockLocationId(stockLocationId int32) OrderAPIOrderGetNewRequest {
	r.stockLocationId = &stockLocationId
	return r
}

func (r OrderAPIOrderGetNewRequest) Execute() (*CollectionOfMerchantOrderResponse, *http.Response, error) {
	return r.ApiService.OrderGetNewExecute(r)
}

/*
OrderGetNew Gets new orders

Gets orders with the status **New**.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrderAPIOrderGetNewRequest
*/
func (a *OrderAPIService) OrderGetNew(ctx context.Context) OrderAPIOrderGetNewRequest {
	return OrderAPIOrderGetNewRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfMerchantOrderResponse
func (a *OrderAPIService) OrderGetNewExecute(r OrderAPIOrderGetNewRequest) (*CollectionOfMerchantOrderResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CollectionOfMerchantOrderResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrderAPIService.OrderGetNew")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/orders/new"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.stockLocationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stockLocationId", r.stockLocationId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrderAPIOrderInvoiceRequest struct {
	ctx context.Context
	ApiService *OrderAPIService
	merchantOrderNo string
	useCustomerCulture *bool
}

// Generate the invoice in the billing address&#39; country&#39;s language.
func (r OrderAPIOrderInvoiceRequest) UseCustomerCulture(useCustomerCulture bool) OrderAPIOrderInvoiceRequest {
	r.useCustomerCulture = &useCustomerCulture
	return r
}

func (r OrderAPIOrderInvoiceRequest) Execute() (**os.File, *http.Response, error) {
	return r.ApiService.OrderInvoiceExecute(r)
}

/*
OrderInvoice Generates an order invoice

Generates the ChannelEngine sales tax invoice for an order in PDF.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param merchantOrderNo The unique order reference as used by the merchant.
 @return OrderAPIOrderInvoiceRequest
*/
func (a *OrderAPIService) OrderInvoice(ctx context.Context, merchantOrderNo string) OrderAPIOrderInvoiceRequest {
	return OrderAPIOrderInvoiceRequest{
		ApiService: a,
		ctx: ctx,
		merchantOrderNo: merchantOrderNo,
	}
}

// Execute executes the request
//  @return *os.File
func (a *OrderAPIService) OrderInvoiceExecute(r OrderAPIOrderInvoiceRequest) (**os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  **os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrderAPIService.OrderInvoice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/orders/{merchantOrderNo}/invoice"
	localVarPath = strings.Replace(localVarPath, "{"+"merchantOrderNo"+"}", url.PathEscape(parameterValueToString(r.merchantOrderNo, "merchantOrderNo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.useCustomerCulture != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "useCustomerCulture", r.useCustomerCulture, "")
	} else {
		var defaultValue bool = false
		r.useCustomerCulture = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/pdf", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrderAPIOrderPackingSlipRequest struct {
	ctx context.Context
	ApiService *OrderAPIService
	merchantOrderNo string
	useCustomerCulture *bool
}

// Generate the invoice in the billing address&#39; country&#39;s language.
func (r OrderAPIOrderPackingSlipRequest) UseCustomerCulture(useCustomerCulture bool) OrderAPIOrderPackingSlipRequest {
	r.useCustomerCulture = &useCustomerCulture
	return r
}

func (r OrderAPIOrderPackingSlipRequest) Execute() (**os.File, *http.Response, error) {
	return r.ApiService.OrderPackingSlipExecute(r)
}

/*
OrderPackingSlip Generates a packing slip

Generates the ChannelEngine packing slip for an order in PDF.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param merchantOrderNo The unique order reference as used by the merchant.
 @return OrderAPIOrderPackingSlipRequest
*/
func (a *OrderAPIService) OrderPackingSlip(ctx context.Context, merchantOrderNo string) OrderAPIOrderPackingSlipRequest {
	return OrderAPIOrderPackingSlipRequest{
		ApiService: a,
		ctx: ctx,
		merchantOrderNo: merchantOrderNo,
	}
}

// Execute executes the request
//  @return *os.File
func (a *OrderAPIService) OrderPackingSlipExecute(r OrderAPIOrderPackingSlipRequest) (**os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  **os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrderAPIService.OrderPackingSlip")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/orders/{merchantOrderNo}/packingslip"
	localVarPath = strings.Replace(localVarPath, "{"+"merchantOrderNo"+"}", url.PathEscape(parameterValueToString(r.merchantOrderNo, "merchantOrderNo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.useCustomerCulture != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "useCustomerCulture", r.useCustomerCulture, "")
	} else {
		var defaultValue bool = false
		r.useCustomerCulture = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/pdf", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrderAPIOrderUpdateRequest struct {
	ctx context.Context
	ApiService *OrderAPIService
	merchantOrderCommentUpdateRequest *MerchantOrderCommentUpdateRequest
}

func (r OrderAPIOrderUpdateRequest) MerchantOrderCommentUpdateRequest(merchantOrderCommentUpdateRequest MerchantOrderCommentUpdateRequest) OrderAPIOrderUpdateRequest {
	r.merchantOrderCommentUpdateRequest = &merchantOrderCommentUpdateRequest
	return r
}

func (r OrderAPIOrderUpdateRequest) Execute() (*ApiResponse, *http.Response, error) {
	return r.ApiService.OrderUpdateExecute(r)
}

/*
OrderUpdate Updates an order comment

Updates the merchant comment for an order based on the ChannelEngine **Order ID** or the **Merchant order number**.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return OrderAPIOrderUpdateRequest
*/
func (a *OrderAPIService) OrderUpdate(ctx context.Context) OrderAPIOrderUpdateRequest {
	return OrderAPIOrderUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiResponse
func (a *OrderAPIService) OrderUpdateExecute(r OrderAPIOrderUpdateRequest) (*ApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrderAPIService.OrderUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/orders/comment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.merchantOrderCommentUpdateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrderAPIOrderUploadInvoiceRequest struct {
	ctx context.Context
	ApiService *OrderAPIService
	merchantOrderNo string
	invoice *os.File
	invoiceNumber *string
}

// PDF invoice file up to 1 MB with additional data.
func (r OrderAPIOrderUploadInvoiceRequest) Invoice(invoice *os.File) OrderAPIOrderUploadInvoiceRequest {
	r.invoice = invoice
	return r
}

// The invoice number used in the invoice.
func (r OrderAPIOrderUploadInvoiceRequest) InvoiceNumber(invoiceNumber string) OrderAPIOrderUploadInvoiceRequest {
	r.invoiceNumber = &invoiceNumber
	return r
}

func (r OrderAPIOrderUploadInvoiceRequest) Execute() (*ApiResponse, *http.Response, error) {
	return r.ApiService.OrderUploadInvoiceExecute(r)
}

/*
OrderUploadInvoice Uploads an order invoice

Uploads the invoice for an order in PDF.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param merchantOrderNo The unique order reference as used by the merchant.
 @return OrderAPIOrderUploadInvoiceRequest
*/
func (a *OrderAPIService) OrderUploadInvoice(ctx context.Context, merchantOrderNo string) OrderAPIOrderUploadInvoiceRequest {
	return OrderAPIOrderUploadInvoiceRequest{
		ApiService: a,
		ctx: ctx,
		merchantOrderNo: merchantOrderNo,
	}
}

// Execute executes the request
//  @return ApiResponse
func (a *OrderAPIService) OrderUploadInvoiceExecute(r OrderAPIOrderUploadInvoiceRequest) (*ApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrderAPIService.OrderUploadInvoice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/orders/{merchantOrderNo}/invoice"
	localVarPath = strings.Replace(localVarPath, "{"+"merchantOrderNo"+"}", url.PathEscape(parameterValueToString(r.merchantOrderNo, "merchantOrderNo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.invoice == nil {
		return localVarReturnValue, nil, reportError("invoice is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var invoiceLocalVarFormFileName string
	var invoiceLocalVarFileName     string
	var invoiceLocalVarFileBytes    []byte

	invoiceLocalVarFormFileName = "invoice"
	invoiceLocalVarFile := r.invoice

	if invoiceLocalVarFile != nil {
		fbs, _ := io.ReadAll(invoiceLocalVarFile)

		invoiceLocalVarFileBytes = fbs
		invoiceLocalVarFileName = invoiceLocalVarFile.Name()
		invoiceLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: invoiceLocalVarFileBytes, fileName: invoiceLocalVarFileName, formFileName: invoiceLocalVarFormFileName})
	}
	if r.invoiceNumber != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "invoiceNumber", r.invoiceNumber, "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrderAPIOrderUploadInvoiceAsStringRequest struct {
	ctx context.Context
	ApiService *OrderAPIService
	merchantOrderNo string
	merchantInvoiceUploadRequest *MerchantInvoiceUploadRequest
}

func (r OrderAPIOrderUploadInvoiceAsStringRequest) MerchantInvoiceUploadRequest(merchantInvoiceUploadRequest MerchantInvoiceUploadRequest) OrderAPIOrderUploadInvoiceAsStringRequest {
	r.merchantInvoiceUploadRequest = &merchantInvoiceUploadRequest
	return r
}

func (r OrderAPIOrderUploadInvoiceAsStringRequest) Execute() (*ApiResponse, *http.Response, error) {
	return r.ApiService.OrderUploadInvoiceAsStringExecute(r)
}

/*
OrderUploadInvoiceAsString Uploads an order invoice PDF from Base64 string.

Uploads an order invoice PDF from Base64 string.<br />Invoice size must be less than 1 mb.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param merchantOrderNo
 @return OrderAPIOrderUploadInvoiceAsStringRequest
*/
func (a *OrderAPIService) OrderUploadInvoiceAsString(ctx context.Context, merchantOrderNo string) OrderAPIOrderUploadInvoiceAsStringRequest {
	return OrderAPIOrderUploadInvoiceAsStringRequest{
		ApiService: a,
		ctx: ctx,
		merchantOrderNo: merchantOrderNo,
	}
}

// Execute executes the request
//  @return ApiResponse
func (a *OrderAPIService) OrderUploadInvoiceAsStringExecute(r OrderAPIOrderUploadInvoiceAsStringRequest) (*ApiResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrderAPIService.OrderUploadInvoiceAsString")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/orders/{merchantOrderNo}/invoice-base64"
	localVarPath = strings.Replace(localVarPath, "{"+"merchantOrderNo"+"}", url.PathEscape(parameterValueToString(r.merchantOrderNo, "merchantOrderNo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.merchantInvoiceUploadRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
